# Review of content

## Boolean Mask and Boxplot for outliers

In [7]:
#sns.histplot(data['GrLivArea'], bins=200,kde = True); #for distribution
#sns.boxplot(data=data, x='GrLivArea') #for outliers
# Saving the indexes corresponding to rows 
# without the absurd -1 value
# and without the mansion
boolean_mask = (data['GrLivArea']>0) & (data['GrLivArea']<5000)

# Applying the boolean filteraing
data = data[boolean_mask].reset_index(drop=True)

# Visualize boxplot again
data[['GrLivArea']].boxplot();

NameError: name 'data' is not defined

## Scaler

In [25]:


rb_scaler = RobustScaler() 

# Step 1- Fit the scaler to the `GrLiveArea`
# to "learn" the median value and the IQR

rb_scaler.fit(data[['GrLivArea']]) 

# 2-Scale/Transform
# <-> apply the transformation (value - median) / IQR for every house

data['GrLivArea'] = rb_scaler.transform(data[['GrLivArea']]) 

data.head()

NameError: name 'RobustScaler' is not defined

## One Hot Encoder

In [26]:
# Check unique values for streets (3)
print(f"The unique values for 'Street' are {data.Alley.unique()}")

# Instantiate the OneHotEncoder
ohe = OneHotEncoder(sparse = False) 

# Fit encoder
ohe.fit(data[['Alley']]) 

# Display the detected categories
print(f"The categories detected by the OneHotEncoder are {ohe.categories_}")

# Display the generated names
print(f"The column names for the encoded values are {ohe.get_feature_names_out()}")

# Transform the current "Street" column
data[ohe.get_feature_names_out()] = ohe.transform(data[['Alley']])

# Drop the column "Street" which has been encoded
data.drop(columns = ["Alley"], inplace = True)

# Show the dataset
data.head(3)

NameError: name 'data' is not defined

## Correlation heatmap

In [27]:
# Heatmap of pairwise correlations
correlation_matrix = data.corr()
column_names = correlation_matrix.columns
sns.heatmap(correlation_matrix, xticklabels=column_names, yticklabels=column_names,cmap= "bwr");

NameError: name 'data' is not defined

# Questions to ask

Probably we should undersample the min_revenues column, and as well, find out, if there are so many companies with revenues, why didn't they raise?? how could we answer this question? the 99% remaining raised money

Should a model be created for companies that raised on a that want to raise on b, and for those that raised on a and b, that want to raise on c?

Is less employees bad, average, good, so that we applie an ordinal encoder?

Should remove names and id's?

# Beginning

In [28]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler

In [29]:
path_crunch = '../raw_data/crunchbase.csv'

In [30]:
crunch = pd.read_csv(path_crunch)

/var/folders/fg/0mh3ddwn6ls4kf4146hxrxb00000gn/T/ipykernel_4760/3822556600.py:1: DtypeWarning: Columns (4,11,16,17,18,30,31,32,33,36,39,40,41,42) have mixed types. Specify dtype option on import or set low_memory=False.
  crunch = pd.read_csv(path_crunch)

In [31]:
crunch.head()

,_id,acquisitions,category,country_code,crunchbase_rank,descriptions.long,descriptions.short,email,employee_range,employees,...,series.series_unknown,series.total,series.undisclosed,socials.facebook,socials.linkedin,socials.twitter,techs,traffic.global_rank,traffic.monthly,website
0,ca17699b-2f49-91f4-5863-7216fc07a64e,"[{""_id"":""a07f601f-d80e-4f67-8996-7f80726b25b4""...",company,gb,309.0,eToro is a social trading investment network t...,eToro is a social trading and investment marke...,support@etoro.com,"[501,1000]","[{""_id"":""f916d557-2c47-27eb-ced9-2a49fd8bb982""...",...,35300000.0,2.227000e+08,NaN,http://www.facebook.com/etoro,https://www.linkedin.com/company/etoro/,http://twitter.com/eToro,"[{""name"":""Viewport Meta"",""category"":""mobile""},...",2549.0,20525524.0,https://www.etoro.com/
1,792dcc41-3650-4496-68ba-481f52ccd99e,[],company,gb,3539.0,GeoSpock is a spatial big data platform compan...,GeoSpock is a spatial big data platform compan...,info@geospock.com,"[11,50]","[{""_id"":""23f56976-1141-4d25-9a0c-7f40e60acebd""...",...,8041980.0,3.824077e+07,NaN,NaN,https://www.linkedin.com/company/geospock-ltd-/,https://twitter.com/geospock,"[{""name"":""Viewport Meta"",""category"":""mobile""},...",6857390.0,709.0,https://www.geospock.com/en/
2,35d239af-cf06-4f04-9387-64a079b641cd,[],company,gb,835.0,Gymshark is an online retailer and technology ...,Gymshark is an online retailer and technology ...,corporate@gymshark.com,"[501,1000]","[{""_id"":""def64484-afd8-482b-82a4-258fe62f7639""...",...,NaN,2.617301e+08,NaN,https://www.facebook.com/Gymshark/,https://www.linkedin.com/company/gymshark/,https://twitter.com/Gymshark,"[{""name"":""IPv6"",""category"":""server""},{""name"":""...",6911.0,7464935.0,https://www.gymshark.com/
3,bb06c586-aac4-4657-39d1-1e428f3f08da,[],company,gb,1450.0,Moneybox now offers a range of saving and inve...,Moneybox is a mobile savings and investment ap...,support@moneyboxapp.com,"[101,250]","[{""_id"":""e9e9034d-eee5-eb7b-836e-db9636a53cce""...",...,NaN,6.986406e+07,NaN,https://www.facebook.com/moneyboxteam/,https://www.linkedin.com/company/digital-moneybox,https://twitter.com/moneyboxteam,"[{""name"":""Viewport Meta"",""category"":""mobile""},...",148195.0,210454.0,https://www.moneyboxapp.com
4,99c2b07b-bbf5-dcac-f768-7b905e940c0e,[],company,gb,1274.0,Oxford Nanopore Technologies aims to disrupt t...,Oxford Nanopore Technologies develops nanopore...,info@nanoporetech.com,"[251,500]","[{""_id"":""f5e4ea8d-70c9-ac60-c80c-f2d871d30a77""...",...,845040507.0,1.142175e+09,NaN,https://www.facebook.com/pages/Oxford-Nanopore...,https://www.linkedin.com/company/oxford-nanopo...,http://twitter.com/nanopore,"[{""name"":""Viewport Meta"",""category"":""mobile""},...",264163.0,95169.0,http://www.nanoporetech.com

### the Column Category has company, investor and school as unique values
HOWEVER, it has values from employee_range column as well. I have to see later if in the values
after having changed the df, if we need these values

In [32]:
crunch.category.unique()

array(['company', 'investor', 'school', nan, '[1,10]', 'true', '[11,50]',
       '[51,100]'], dtype=object)

In [33]:
crunch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311414 entries, 0 to 311413
Data columns (total 52 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   _id                           311394 non-null  object
 1   acquisitions                  311348 non-null  object
 2   category                      311369 non-null  object
 3   country_code                  311413 non-null  object
 4   crunchbase_rank               311349 non-null  object
 5   descriptions.long             64060 non-null   object
 6   descriptions.short            311332 non-null  object
 7   email                         112326 non-null  object
 8   employee_range                136292 non-null  object
 9   employees                     136302 non-null  object
 10  industries                    134808 non-null  object
 11  investors                     3433 non-null    object
 12  legal_name                    16023 non-null   object
 13  min_revenues                  79960 non-null   float64
 14  name                          136331 non-null  object
 15  phone                         108940 non-null  object
 16  salesforce_id                 14119 non-null   object
 17  scraped                       136311 non-null  object
 18  scraped_light                 54333 non-null   object
 19  series                        0 non-null       float64
 20  series.angel                  350 non-null     float64
 21  series.convertible_note       134 non-null     float64
 22  series.corporate_round        66 non-null      float64
 23  series.debt_financing         269 non-null     float64
 24  series.equity_crowdfunding    395 non-null     float64
 25  series.grant                  468 non-null     float64
 26  series.initial_coin_offering  33 non-null      float64
 27  series.non_equity_assistance  270 non-null     float64
 28  series.post_ipo_debt          21 non-null      float64
 29  series.post_ipo_equity        88 non-null      float64
 30  series.pre_seed               409 non-null     object
 31  series.private_equity         220 non-null     object
 32  series.secondary_market       20 non-null      object
 33  series.seed                   2134 non-null    object
 34  series.series_a               1058 non-null    float64
 35  series.series_b               437 non-null     float64
 36  series.series_c               181 non-null     object
 37  series.series_d               52 non-null      float64
 38  series.series_e               23 non-null      float64
 39  series.series_f               12 non-null      object
 40  series.series_g               14 non-null      object
 41  series.series_h               15 non-null      object
 42  series.series_unknown         1240 non-null    object
 43  series.total                  3861 non-null    float64
 44  series.undisclosed            163 non-null     float64
 45  socials.facebook              78219 non-null   object
 46  socials.linkedin              83099 non-null   object
 47  socials.twitter               75520 non-null   object
 48  techs                         136266 non-null  object
 49  traffic.global_rank           51253 non-null   float64
 50  traffic.monthly               51253 non-null   float64
 51  website                       135257 non-null  object
dtypes: float64(20), object(32)
memory usage: 123.5+ MB

In [34]:
crunch.techs.unique()

array(['[{"name":"Viewport Meta","category":"mobile"},{"name":"IPhone / Mobile Compatible","category":"mobile"},{"name":"ASP.NET","category":"framework"},{"name":"IIS","category":"web_server"},{"name":"GoDaddy","category":"hosting"},{"name":"ASP.NET 4.0","category":"framework"},{"name":"IIS 7","category":"web_server"}]',
       '[{"name":"Viewport Meta","category":"mobile"},{"name":"IPhone / Mobile Compatible","category":"mobile"},{"name":"SPF","category":"mx"},{"name":"SSL by Default","category":"ssl"},{"name":"Google Analytics","category":"analytics"},{"name":"Apple Mobile Web Clips Icon","category":"mobile"},{"name":"Apache","category":"web_server"},{"name":"Content Delivery Network","category":"cdn"},{"name":"Google Tag Manager","category":"widgets"},{"name":"Font Awesome","category":"widgets"}]',
       '[{"name":"IPv6","category":"server"},{"name":"YouTube","category":"media"},{"name":"Google","category":"hosting"},{"name":"ASP.NET","category":"framework"},{"name":"Google Cloud","category":"hosting"},{"name":"IIS","category":"web_server"},{"name":"Apache 2.4","category":"web_server"},{"name":"Apple Mobile Web App Capable","category":"mobile"},{"name":"jQuery CDN","category":"cdn"},{"name":"Amazon Route 53","category":"ns"}]',
       ...,
       '[{"name":"ASP.NET","category":"framework"},{"name":"IIS","category":"web_server"},{"name":"IIS 8","category":"web_server"},{"name":"Microsoft Frontpage","category":"framework"}]',
       '[{"name":"Viewport Meta","category":"mobile"},{"name":"IPhone / Mobile Compatible","category":"mobile"},{"name":"SPF","category":"mx"},{"name":"LetsEncrypt","category":"ssl"},{"name":"Apple Mobile Web Clips Icon","category":"mobile"},{"name":"Content Delivery Network","category":"cdn"},{"name":"PHP","category":"framework"},{"name":"Font Awesome","category":"widgets"},{"name":"nginx","category":"web_server"},{"name":"AJAX Libraries API","category":"cdn"}]',
       '[{"name":"SPF","category":"mx"},{"name":"LetsEncrypt","category":"ssl"},{"name":"Apache","category":"web_server"},{"name":"Font Awesome","category":"widgets"},{"name":"Serverplan","category":"hosting"}]'],
      dtype=object)

# FILTERED ALL DF TO KEEP VALUES THAT WERE SCRAPED

In [35]:
crunch['scraped'].unique()

array([True, nan], dtype=object)

In [36]:
crunch[crunch['scraped']==True]

,_id,acquisitions,category,country_code,crunchbase_rank,descriptions.long,descriptions.short,email,employee_range,employees,...,series.series_unknown,series.total,series.undisclosed,socials.facebook,socials.linkedin,socials.twitter,techs,traffic.global_rank,traffic.monthly,website
0,ca17699b-2f49-91f4-5863-7216fc07a64e,"[{""_id"":""a07f601f-d80e-4f67-8996-7f80726b25b4""...",company,gb,309.0,eToro is a social trading investment network t...,eToro is a social trading and investment marke...,support@etoro.com,"[501,1000]","[{""_id"":""f916d557-2c47-27eb-ced9-2a49fd8bb982""...",...,35300000.0,2.227000e+08,NaN,http://www.facebook.com/etoro,https://www.linkedin.com/company/etoro/,http://twitter.com/eToro,"[{""name"":""Viewport Meta"",""category"":""mobile""},...",2549.0,20525524.0,https://www.etoro.com/
1,792dcc41-3650-4496-68ba-481f52ccd99e,[],company,gb,3539.0,GeoSpock is a spatial big data platform compan...,GeoSpock is a spatial big data platform compan...,info@geospock.com,"[11,50]","[{""_id"":""23f56976-1141-4d25-9a0c-7f40e60acebd""...",...,8041980.0,3.824077e+07,NaN,NaN,https://www.linkedin.com/company/geospock-ltd-/,https://twitter.com/geospock,"[{""name"":""Viewport Meta"",""category"":""mobile""},...",6857390.0,709.0,https://www.geospock.com/en/
2,35d239af-cf06-4f04-9387-64a079b641cd,[],company,gb,835.0,Gymshark is an online retailer and technology ...,Gymshark is an online retailer and technology ...,corporate@gymshark.com,"[501,1000]","[{""_id"":""def64484-afd8-482b-82a4-258fe62f7639""...",...,NaN,2.617301e+08,NaN,https://www.facebook.com/Gymshark/,https://www.linkedin.com/company/gymshark/,https://twitter.com/Gymshark,"[{""name"":""IPv6"",""category"":""server""},{""name"":""...",6911.0,7464935.0,https://www.gymshark.com/
3,bb06c586-aac4-4657-39d1-1e428f3f08da,[],company,gb,1450.0,Moneybox now offers a range of saving and inve...,Moneybox is a mobile savings and investment ap...,support@moneyboxapp.com,"[101,250]","[{""_id"":""e9e9034d-eee5-eb7b-836e-db9636a53cce""...",...,NaN,6.986406e+07,NaN,https://www.facebook.com/moneyboxteam/,https://www.linkedin.com/company/digital-moneybox,https://twitter.com/moneyboxteam,"[{""name"":""Viewport Meta"",""category"":""mobile""},...",148195.0,210454.0,https://www.moneyboxapp.com
4,99c2b07b-bbf5-dcac-f768-7b905e940c0e,[],company,gb,1274.0,Oxford Nanopore Technologies aims to disrupt t...,Oxford Nanopore Technologies develops nanopore...,info@nanoporetech.com,"[251,500]","[{""_id"":""f5e4ea8d-70c9-ac60-c80c-f2d871d30a77""...",...,845040507.0,1.142175e+09,NaN,https://www.facebook.com/pages/Oxford-Nanopore...,https://www.linkedin.com/company/oxford-nanopo...,http://twitter.com/nanopore,"[{""name"":""Viewport Meta"",""category"":""mobile""},...",264163.0,95169.0,http://www.nanoporetech.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311409,a70808ad-93c0-4ad2-b859-699a25c79ed8,[],company,it,987325,NaN,Studio Lania is a service center that offers a...,info@studiolania.it,"[1,10]",[],...,NaN,NaN,NaN,NaN,NaN,NaN,"[{""name"":""Viewport Meta"",""category"":""mobile""},...",NaN,NaN,http://studiolania.it
311410,c3bc2993-9072-419e-99a3-08d51802dfc5,[],company,it,905145,NaN,Puntoweb provides services in the realm of web...,info@puntoweb-arezzo.it,"[1,10]",[],...,NaN,NaN,NaN,https://www.facebook.com/PuntowebSitiInternetA...,https://www.linkedin.com/in/puntoweb-arezzo-80...,https://twitter.com/puntowebarezzo,[],NaN,NaN,http://www.puntoweb-arezzo.it
311411,8c003064-a0f0-4d79-9ddc-46854a957894,[],company,it,1140965,NaN,"Cerme is a distributor of hydraulic, thermal a...",jobs@cerme.it,"[11,50]",[],...,NaN,NaN,NaN,NaN,NaN,NaN,"[{""name"":""SPF"",""category"":""mx""},{""name"":""LetsE...",NaN,NaN,http://www.cerme.it
311412,1bab4fea-ea50-4bc1-a28a-91d6de49f921,[],company,it,1150184,NaN,Studio Anna Fileppo is an art firm that offers...,info@studioannafileppo.it,"[1,10]",[],...,NaN,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,http://www.studioannafileppo.it
311413,137bcfdd-ff15-4bfa-8da9-92b8d3a8d9cd,[],company,it,1088540,NaN,Idea Web is a web and digital agency that spec...,info@idea-web.org,"[1,10]",[],...,NaN,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,http://www.idea-web.org

There are 136311 values that are == True. Two cells below we see that there are 175103 nan values

In [37]:
crunch[crunch['scraped']== True]['scraped'].value_counts()

True    136311
Name: scraped, dtype: int64

In [38]:
crunch['scraped'].value_counts()

True    136311
Name: scraped, dtype: int64

There are 136311 false nan, which means that there are 136311 True! so indeed we can change it

In [39]:
crunch['scraped'].isna().value_counts()

True     175103
False    136311
Name: scraped, dtype: int64

In [40]:
crunch = crunch[crunch['scraped']==True]

# DROPPED COLUMNS I DON'T NEED

In [41]:
crunch = crunch.drop(columns=['acquisitions','employees', 'techs','salesforce_id', 'crunchbase_rank', 'scraped'])

In [42]:
crunch.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 136311 entries, 0 to 311413
Data columns (total 46 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   _id                           136311 non-null  object
 1   category                      136266 non-null  object
 2   country_code                  136311 non-null  object
 3   descriptions.long             64053 non-null   object
 4   descriptions.short            136265 non-null  object
 5   email                         112297 non-null  object
 6   employee_range                136256 non-null  object
 7   industries                    134787 non-null  object
 8   investors                     3417 non-null    object
 9   legal_name                    16004 non-null   object
 10  min_revenues                  79957 non-null   float64
 11  name                          136311 non-null  object
 12  phone                         108920 non-null  object
 13  scraped_light                 54333 non-null   object
 14  series                        0 non-null       float64
 15  series.angel                  350 non-null     float64
 16  series.convertible_note       134 non-null     float64
 17  series.corporate_round        66 non-null      float64
 18  series.debt_financing         269 non-null     float64
 19  series.equity_crowdfunding    395 non-null     float64
 20  series.grant                  468 non-null     float64
 21  series.initial_coin_offering  33 non-null      float64
 22  series.non_equity_assistance  270 non-null     float64
 23  series.post_ipo_debt          21 non-null      float64
 24  series.post_ipo_equity        88 non-null      float64
 25  series.pre_seed               399 non-null     object
 26  series.private_equity         208 non-null     object
 27  series.secondary_market       10 non-null      object
 28  series.seed                   2114 non-null    object
 29  series.series_a               1051 non-null    float64
 30  series.series_b               430 non-null     float64
 31  series.series_c               161 non-null     object
 32  series.series_d               52 non-null      float64
 33  series.series_e               23 non-null      float64
 34  series.series_f               6 non-null       object
 35  series.series_g               3 non-null       object
 36  series.series_h               3 non-null       object
 37  series.series_unknown         1224 non-null    object
 38  series.total                  3851 non-null    float64
 39  series.undisclosed            153 non-null     float64
 40  socials.facebook              78203 non-null   object
 41  socials.linkedin              83099 non-null   object
 42  socials.twitter               75520 non-null   object
 43  traffic.global_rank           51253 non-null   float64
 44  traffic.monthly               51253 non-null   float64
 45  website                       135257 non-null  object
dtypes: float64(20), object(26)
memory usage: 48.9+ MB

# CLEANED INDUSTRIES & TRANSFORMED IT IN A LIST
But i will see how i will put the transformed industries in a set

In [43]:
crunch.industries

0         [{"_id":"ae5718dc-8602-c733-e62b-28e6167091ad"...
1         [{"_id":"99c5404c-0ff5-8ee5-d334-4b944ddb8cd9"...
2         [{"_id":"275ddcbc-27de-ff4f-4e50-6dc26ebf9570"...
3         [{"_id":"68250c3a-6cf5-86fb-281e-9072ae2d4fe8"...
4         [{"_id":"16ad1d6c-c7ee-b6b5-701d-32c79a19dfae"...
                                ...
311409    [{"_id":"ad091ee0-0259-f129-7777-10f65213584d"...
311410    [{"_id":"e362ac36-2e59-c58d-08fe-e5c45f13bc64"...
311411    [{"_id":"9b7bff94-c36c-b8d4-8789-69670454fe84"...
311412    [{"_id":"d29852ab-4bbf-95f5-6087-563ff127de71"...
311413    [{"_id":"9bff86a3-0dc8-1420-9a63-3b86f51d2f36"...
Name: industries, Length: 136311, dtype: object

### In the following i replace all nan values for '[]' , since i can't extract nan's and it will give me an error
However, since i am already extracting values within a '[]' i can replace the nan's by that

In [44]:
crunch['industries'].isna().value_counts()

False    134787
True       1524
Name: industries, dtype: int64

In [52]:
for index, colname in enumerate(crunch):
    print()
    print(f'this column is {colname}')
    print(crunch[crunch['industries'].notna()][colname].value_counts())
    print()
    print(f"and this is the same column {colname} but counting how many nan's")
    print(crunch[crunch['industries'].notna()][colname].isna().value_counts())

this column is _id
ca17699b-2f49-91f4-5863-7216fc07a64e    1
637d51c7-944a-439d-bbc4-1abb570167eb    1
c1b4d6d0-e15d-4f73-960d-8c316182901c    1
631caaca-edaa-4d7b-b29a-7d6f50a8d4a7    1
34acb787-8476-493f-acec-941d736f96ef    1
                                       ..
b6b210bc-58b9-2abb-d8de-7d7efbfe8235    1
6fd9ca2f-345e-4307-9948-618a211d6e6b    1
5c61f428-600b-4f3c-bf88-cf376ad4a703    1
a56c14af-237c-4f01-9128-496065274e68    1
137bcfdd-ff15-4bfa-8da9-92b8d3a8d9cd    1
Name: _id, Length: 134787, dtype: int64

and this is the same column _id but counting how many nan's
False    134787
Name: _id, dtype: int64

this column is category
company     134385
investor       393
school           9
Name: category, dtype: int64

and this is the same column category but counting how many nan's
False    134787
Name: category, dtype: int64

this column is country_code
gb    53570
de    33190
fr    20681
es    18533
it     8813
Name: country_code, dtype: int64

and this is the same column country_code but counting how many nan's
False    134787
Name: country_code, dtype: int64

this column is descriptions.long
IMGeospatial’s AIMEE, our Automated Intelligent Multi-feature Extraction Engine, uses machine learning, AI and multi-scopic, remote-sensed imagery to create incredibly valuable Automated Business Intelligence.\n\nRather than producing enormous amounts of raw data which users must interpret to gain insight, IMGeospatial’s AIMEE ‘Digests, Distils and Disseminates’ remote-sensed data to produce intelligence specifically created for a particular sector. By producing Automated Business Intelligence in this way, we change the way you see your world, supplying critical answers to a user’s questions and allowing them to work smarter and do better things, more efficiently.                                                                                                             3
Synergy combines your desktop devices together in to one cohesive experience. It&s;s software for sharing your mouse and keyboard between multiple computers on your desk. It works on Windows, Mac OS X and Linux.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          2
Bathroom Wall Panels Manufactured from PVC and with a range of stylish decors, the shower boards &a; shower wall panels are non-porous, hygienic and easy to clean, ideal for both wet and dry areas.  All our Bathroom wall panels are tongue and groove, making the bathroom panels so easy to install.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    2
Browse leaflets online for free                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              2
ProcessFlows provider of solutions and services designed toimprove business processes and communications. Since 1987, ProcessFlows has helped thousands of businesses, local councils and government departments to increase efficiency, improve customer service and implement controls for regulatory compliance. ProcessFlows combines business process expertise with market leading technology to provide flexible applications and workflows that augment existing systems and can be deployed quickly to provide a fast return on investment. Our nearshore outsource centre in Sofia provides expert support and managed services 24×7. ProcessFlows offers expert advice at every stage - understanding requirements and providing implementation, training, support and on-going customer care.    2
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            ..
DISCOVER\nSearch the latest home entertainment and domestic appliance products on the market\n\nAPPLY ONLINE\nApply to rent in minutes, and get your product with free delivery and installation in as little as 48 hours\n\nPAY AS YOU GO\nPay in affordable, bitesize chunks — paying on time, every time earns you exclusive rewards                                                                                                                                                                                                                                                                                                                                                                                                                                                                      1
Founded in 2001, SRi is the leading firm dedicated to the constant and growing demand for executive and management talent in sports, media and entertainment. Operating from offices in Australia, Canada, China, Germany, Singapore, Switzerland and the UK, our expert advisers work as a global team providing search and consulting services through combining deep sector knowledge with world-class and cutting edge talent acquisition and management practice.                                                                                                                                                                                                                                                                                                                                       1
Opals Group is an established UK-based Network Infrastructure Services company, we work with major network operators, technology vendors and engineering companies to design, build, manage and maintain the next generation of communication networks.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      1
EWS Digital is cloud based e-commerce platform is strong, proven and intuitive. For ten years we&s;ve been helping our merchants sell online - and watch many grow up from start-up to online leaders in their sector. We&s;re easy to use, and boast unrivalled support. \r\n\r\nWe boast an advanced feature set to help keep each and every one of our merchants above the competition, and we give each of our merchants an e-commerce manager to ensure they are happy, and to ensure every merchant is getting the most out of our service. \r\n\r\nThere are hundreds of happy merchants on our platform, and that number is expanding each and every day, due to our eclectic mix of excellent customer service, and groundbreaking yet simple to use technology.                                    1
Custom is a provides professional printing,scanning and data intelligence solutions for the automation of services to the public and digitalization processes in vertical and specialized markets.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           1
Name: descriptions.long, Length: 63245, dtype: int64

and this is the same column descriptions.long but counting how many nan's
True     71536
False    63251
Name: descriptions.long, dtype: int64

this column is descriptions.short
SaaS                                                                                                                                           31
Mobile App                                                                                                                                     27
Digital Marketing Agency                                                                                                                       16
International                                                                                                                                   6
Marketplace                                                                                                                                     5
                                                                                                                                               ..
Lasting Impressions Signs Stirling is a signs and graphics design company.                                                                      1
WebsellMasters is a company that sells website services and provides affordable web design solutions in Yorkshire.                              1
KubeCode is an IT Service Company passionate about every product and they work hard to excel in IT.                                             1
HoldBreaker provides rock climbing gear, online advice, shop &a; community for your mountaineering needs.                                       1
Idea Web is a web and digital agency that specializes in web development, digital marketing and design and development of e-commerce sites.     1
Name: descriptions.short, Length: 134607, dtype: int64

and this is the same column descriptions.short but counting how many nan's

False    134786
True          1
Name: descriptions.short, dtype: int64

this column is email
suport@tradeinn.com               13
general@barcelonatechcity.com      7
Louise.burry@incisivemedia.com     4
rubber@ronfell.com                 4
info@mysite.com                    4
                                  ..
pete@beckleymarketing.co.uk        1
info@regenerus.org.uk              1
info@elftranslations.co.uk         1
sales@harveycomms.co.uk            1
info@idea-web.org                  1
Name: email, Length: 110809, dtype: int64

and this is the same column email but counting how many nan's
False    111191
True      23596
Name: email, dtype: int64

this column is employee_range
[1,10]          66152
[11,50]         47338
[51,100]         7950
[101,250]        7184
[251,500]        3615
[501,1000]       2536
[1001,5000]         2
[5001,10000]        1
Name: employee_range, dtype: int64

and this is the same column employee_range but counting how many nan's
False    134778
True          9
Name: employee_range, dtype: int64

this column is industries
[{"_id":"6cb68537-2de1-b041-2ee5-451ff81bccab","name":"Advertising"},{"_id":"2795f8fd-4718-3f8f-7513-5391ab707c90","name":"Marketing"}]                                                                                                                                                                                                                                                                                                                                              1471
[{"_id":"dbca89fa-f083-5438-b4ad-d3fdeceb78e7","name":"Information Technology"},{"_id":"c08b5441-a05b-9777-b7a6-012728caddd9","name":"Software"}]                                                                                                                                                                                                                                                                                                                                    1139
[{"_id":"c08b5441-a05b-9777-b7a6-012728caddd9","name":"Software"}]                                                                                                                                                                                                                                                                                                                                                                                                                   1100
[{"_id":"dbca89fa-f083-5438-b4ad-d3fdeceb78e7","name":"Information Technology"}]                                                                                                                                                                                                                                                                                                                                                                                                     1097
[{"_id":"f579213a-60af-8bb3-309b-1d80607ad2a9","name":"Information Services"},{"_id":"dbca89fa-f083-5438-b4ad-d3fdeceb78e7","name":"Information Technology"}]                                                                                                                                                                                                                                                                                                                         688
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     ...
[{"_id":"b9bd65b9-20bf-45cc-207d-b70ac35d5bf4","name":"Consulting"},{"_id":"dbca89fa-f083-5438-b4ad-d3fdeceb78e7","name":"Information Technology"},{"_id":"7a6d8aad-7b87-534a-7f5d-c1766c2cd33f","name":"Management Consulting"},{"_id":"0caf426c-828c-53ef-473c-b9b5795d9040","name":"Management Information Systems"},{"_id":"421943ef-50ae-c811-470e-c66a0323cf0d","name":"Robotics"},{"_id":"c08b5441-a05b-9777-b7a6-012728caddd9","name":"Software"}]                              1
[{"_id":"631d91d6-9da7-6e50-4eb0-d27e28ed2a7f","name":"Art"},{"_id":"ca121753-d26b-a8d7-854f-6b972fd1a391","name":"Local Shopping"},{"_id":"772da8fe-26d7-ea09-00ff-0fc7c8368b50","name":"Marketplace"},{"_id":"a1ec698c-164f-d8da-096f-bdbb751c21a8","name":"Music Venues"},{"_id":"51385655-f802-346b-045d-f44f461989fc","name":"Restaurants"},{"_id":"b65acba5-b299-3990-6390-8be3e3833a07","name":"Retail"},{"_id":"655df1bf-587c-59e3-4665-136fb2920827","name":"Shopping"}]       1
[{"_id":"9017245c-8985-9a74-e855-0219d5ce56a3","name":"Business Information Systems"},{"_id":"2e3b8104-b12e-468a-65b8-0989208f0b16","name":"Business Intelligence"},{"_id":"b9bd65b9-20bf-45cc-207d-b70ac35d5bf4","name":"Consulting"}]                                                                                                                                                                                                                                                 1
[{"_id":"e811671c-168d-1fd2-36e5-df4e08a09f7c","name":"Manufacturing"},{"_id":"58284e68-4cf7-e34f-ae3b-dd68f25e9b99","name":"Printing"},{"_id":"bcf1a24a-96df-d95b-099c-ddd418385579","name":"Wholesale"}]                                                                                                                                                                                                                                                                              1
[{"_id":"ad091ee0-0259-f129-7777-10f65213584d","name":"Accounting"},{"_id":"2d410a02-e5d0-95f6-f7f7-690061283dd1","name":"Employment"},{"_id":"d9cf3c35-fcf6-294c-e755-c8cad2653125","name":"Online Portals"}]                                                                                                                                                                                                                                                                          1
Name: industries, Length: 59290, dtype: int64

and this is the same column industries but counting how many nan's
False    134787
Name: industries, dtype: int64

this column is investors
[{"_id":"01a2a666-577c-1673-eba6-74c02aaf2e80","name":"Crowdcube","category":"organization"}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   56
[{"_id":"7fe5c779-d231-b528-914a-69b8cfae8538","name":"Business Growth Fund","category":"organization"}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        43
[{"_id":"2c30fc12-12da-22e1-0e3c-38cbd4ec7441","name":"Innovate UK","category":"organization"}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 16
[{"_id":"e7e5a267-ce84-b580-ccbf-40a17099d2aa","name":"LDC","category":"organization"}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         15
[{"_id":"becc42f7-18b4-e06e-335b-079b23dd7ca6","name":"Foresight Group","category":"organization"}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             14
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ..
[{"_id":"0686cdc6-d6e7-0417-8329-29b5c85afeef","name":"Seedcamp","category":"organization"},{"_id":"099a4c1d-a3d3-4a6f-927b-b587f56709b8","name":"Marchmont Ventures","category":"organization"},{"_id":"2a6c8ce5-a3f4-7e97-3c50-39f9896d6170","name":"Christian Woolfenden","category":"person"},{"_id":"5dbcc55b-53dc-7a7a-ab6b-71456e025b31","name":"Ascension Ventures","category":"organization"},{"_id":"918c3f56-9d0d-0655-6518-c77e87559ebc","name":"Commercial Growth Fund","category":"organization"}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                 1
[{"_id":"8c0175cf-f107-c473-e8c3-461ff8f10879","name":"JamJar Investments","category":"organization"},{"_id":"c901d65e-c346-e1a8-7a87-58dd6ca991f9","name":"Octopus Ventures","category":"organization"},{"_id":"2a01cddd-1d66-0e52-cae5-ba3113ae3054","name":"QVentures","category":"organization"},{"_id":"d27114f3-3e81-24f8-c5c9-ad29fb114e9c","name":"Playfair Capital","category":"organization"}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         1
[{"_id":"ac41030f-c20d-0060-3f0a-37f0eee13779","name":"Wayra","category":"organization"},{"_id":"0d3d3331-f2cd-8cf2-8c43-50f80dde9dae","name":"SmartHub","category":"organization"},{"_id":"183692b0-b175-b125-89ce-2badd9f56b55","name":"MassChallenge","category":"organization"},{"_id":"46b18474-57d8-1512-1b10-f10290d11ba1","name":"Angels Den","category":"organization"},{"_id":"6eeeb477-b35d-b2c2-4c72-68aee5bb8491","name":"KL10CH","category":"organization"},{"_id":"8d433e70-c82f-68d1-4283-4e6d958bcc84","name":"Valley Venture Mentors","category":"organization"},{"_id":"9c5b7e0b-7e67-27d0-1f38-fd255d026d6f","name":"SyndicateRoom","category":"organization"},{"_id":"a30e45db-4bc6-6f61-b752-bf507882692f","name":"Bogdan Iarovoi","category":"person"},{"_id":"bc156f04-6623-7c0c-43f2-f6949056660f","name":"Nikolay Katorzhnov","category":"person"},{"_id":"ccaf0719-ae27-65ac-89ac-c9cc88baac20","name":"Pitch@Palace","category":"organization"}]     1
[{"_id":"a0ba3194-51be-2b74-9b92-648b3bf9f2ae","name":"UCLB","category":"organization"}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         1
[{"_id":"92f09ced-e449-6fb5-e09c-721acfd22913","name":"Scottish Investment Bank","category":"organization"},{"_id":"0052417e-c052-ff17-ca0a-8ae397a1704f","name":"Par Equity","category":"organization"},{"_id":"c2689070-c879-5177-2662-de48bacecf25","name":"Old College Capital","category":"organization"},{"_id":"f8c850ac-7d49-b946-b9d8-ffee00e41e2d","name":"Braveheart Investment Group","category":"organization"}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    1
Name: investors, Length: 3044, dtype: int64

and this is the same column investors but counting how many nan's
True     131393
False      3394
Name: investors, dtype: int64

this column is legal_name
OneCrowd GmbH               3
Make it Wave Ltd            2
Plato Media Ltd.            2
Kite Tech Ltd               2
Disrupts Media Ltd          2
                           ..
Corizance Limited           1
The Ince Group plc          1
BluTest Laboratories Ltd    1
This is Stratum Limited     1
Custom SpA                  1
Name: legal_name, Length: 15382, dtype: int64

and this is the same column legal_name but counting how many nan's

True     119379
False     15408
Name: legal_name, dtype: int64

this column is min_revenues
1.000000e+06    37604
0.000000e+00    34186
1.000000e+07     6047
5.000000e+07      941
1.000000e+08      581
5.000000e+08      102
1.000000e+09       81
1.000000e+10       11
Name: min_revenues, dtype: int64

and this is the same column min_revenues but counting how many nan's
False    79553
True     55234
Name: min_revenues, dtype: int64

this column is name
Shift                4
CCS                  4
CDP                  4
IPS                  4
Roth                 3
                    ..
Balanced Up          1
A&q Partnership      1
Go Car Warranty      1
Media Performance    1
Idea Web             1
Name: name, Length: 133950, dtype: int64

and this is the same column name but counting how many nan's
False    134787
Name: name, dtype: int64

this column is phone
15555555555         11
+34 938342661        9
+39 0422 789611      9
+34 932 20 00 89     8
+34 94 458 00 52     5
                    ..
44-20-8394-0010      1
+44 330 333 7323     1
44-20 8715 4745      1
+441851700007        1
39-3206308916        1
Name: phone, Length: 107635, dtype: int64

and this is the same column phone but counting how many nan's
False    108119
True      26668
Name: phone, dtype: int64

this column is scraped_light
True    53570
Name: scraped_light, dtype: int64

and this is the same column scraped_light but counting how many nan's
True     81217
False    53570
Name: scraped_light, dtype: int64

this column is series
Series([], Name: series, dtype: int64)

and this is the same column series but counting how many nan's
True    134787
Name: series, dtype: int64

this column is series.angel
0.0           37
1000000.0      7
500000.0       6
700000.0       4
300000.0       4
              ..
1248204.0      1
608142.0       1
2402267.0      1
2154656.0      1
14011882.0     1
Name: series.angel, Length: 283, dtype: int64

and this is the same column series.angel but counting how many nan's
True     134437
False       350
Name: series.angel, dtype: int64

this column is series.convertible_note
0.0           27
100000.0       6
3000000.0      2
500000.0       2
5854882.0      2
              ..
50187.0        1
8200000.0      1
200703.0       1
13431825.0     1
211590.0       1
Name: series.convertible_note, Length: 99, dtype: int64

and this is the same column series.convertible_note but counting how many nan's
True     134654
False       133
Name: series.convertible_note, dtype: int64

this column is series.corporate_round
0.000000e+00    20
1.000000e+07     3
1.929888e+06     1
1.458352e+06     1
1.500000e+08     1
6.465946e+07     1
6.500000e+06     1
9.236473e+06     1
5.000000e+06     1
1.350000e+07     1
1.055733e+06     1
1.280070e+07     1
5.500000e+05     1
7.200000e+06     1
1.200000e+07     1
1.053359e+07     1
3.164697e+06     1
2.214785e+08     1
2.213622e+07     1
4.071644e+06     1
2.500000e+06     1
1.273698e+06     1
1.303072e+06     1
2.050000e+07     1
2.253963e+06     1
1.000000e+06     1
1.200000e+09     1
3.270000e+08     1
2.000000e+08     1
4.600000e+07     1
5.862245e+06     1
2.000000e+06     1
5.000000e+07     1
9.416936e+06     1
1.972646e+07     1
1.966684e+07     1
3.039185e+07     1
2.600000e+07     1
7.294619e+06     1
1.650000e+07     1
3.829764e+06     1
1.813585e+07     1
1.671429e+08     1
1.389931e+06     1
1.900000e+07     1
Name: series.corporate_round, dtype: int64

and this is the same column series.corporate_round but counting how many nan's
True     134721
False        66
Name: series.corporate_round, dtype: int64

this column is series.debt_financing
0.0            34
5000000.0       4
2000000.0       3
1000000.0       2
1700000.0       2
               ..
309343.0        1
12240029.0      1
515042458.0     1
4000000.0       1
528219.0        1
Name: series.debt_financing, Length: 227, dtype: int64

and this is the same column series.debt_financing but counting how many nan's
True     134518
False       269
Name: series.debt_financing, dtype: int64

this column is series.equity_crowdfunding
0.0          2
8852844.0    1
1967311.0    1
1529665.0    1
278948.0     1
            ..
1135193.0    1
3207426.0    1
3065320.0    1
4390959.0    1
606392.0     1
Name: series.equity_crowdfunding, Length: 394, dtype: int64

and this is the same column series.equity_crowdfunding but counting how many nan's
True     134392
False       395
Name: series.equity_crowdfunding, dtype: int64

this column is series.grant
0.0           41
81868.0        7
100000.0       6
12060107.0     4
50000.0        4
              ..
2454055.0      1
6347553.0      1
54634.0        1
1132388.0      1
636550.0       1
Name: series.grant, Length: 386, dtype: int64

and this is the same column series.grant but counting how many nan's
True     134320
False       467
Name: series.grant, dtype: int64

this column is series.initial_coin_offering
6000000.0      3
20000000.0     3
11000000.0     2
18000000.0     2
24000000.0     2
65000000.0     1
30500000.0     1
11231807.0     1
5087896.0      1
3900000.0      1
12600000.0     1
2500000.0      1
17800000.0     1
10000000.0     1
5163000.0      1
28000000.0     1
21000000.0     1
0.0            1
575000000.0    1
16700000.0     1
158000000.0    1
90000000.0     1
8700000.0      1
40000000.0     1
6066734.0      1
5000000.0      1
Name: series.initial_coin_offering, dtype: int64

and this is the same column series.initial_coin_offering but counting how many nan's
True     134754
False        33
Name: series.initial_coin_offering, dtype: int64

this column is series.non_equity_assistance
0.0          257
1650000.0      1
1000000.0      1
1250000.0      1
6000000.0      1
1673231.0      1
329259.0       1
1123871.0      1
17006.0        1
15537.0        1
500000.0       1
16007.0        1
160000.0       1
481134.0       1
Name: series.non_equity_assistance, dtype: int64

and this is the same column series.non_equity_assistance but counting how many nan's
True     134517
False       270
Name: series.non_equity_assistance, dtype: int64

this column is series.post_ipo_debt
63273839.0     1
24159614.0     1
325000000.0    1
26000000.0     1
26374090.0     1
2271980.0      1
0.0            1
19351417.0     1
5433613.0      1
5000000.0      1
55000000.0     1
323495197.0    1
43556446.0     1
26954068.0     1
263962285.0    1
87598986.0     1
5287613.0      1
40000000.0     1
345728068.0    1
200000000.0    1
2719168.0      1
Name: series.post_ipo_debt, dtype: int64

and this is the same column series.post_ipo_debt but counting how many nan's
True     134766
False        21
Name: series.post_ipo_debt, dtype: int64

this column is series.post_ipo_equity
100000000.0    2
0.0            2
142290567.0    1
125303366.0    1
8764911.0      1
              ..
4105889.0      1
11228509.0     1
75000000.0     1
23246956.0     1
12572893.0     1
Name: series.post_ipo_equity, Length: 86, dtype: int64

and this is the same column series.post_ipo_equity but counting how many nan's
True     134699
False        88
Name: series.post_ipo_equity, dtype: int64

this column is series.pre_seed
0.0          60
300000.0      7
1000000.0     5
500000.0      4
150000.0      4
             ..
197406.0      1
198135.0      1
185962.0      1
1756942.0     1
110364.0      1
Name: series.pre_seed, Length: 299, dtype: int64

and this is the same column series.pre_seed but counting how many nan's
True     134394
False       393
Name: series.pre_seed, dtype: int64

this column is series.private_equity
0.0            33
500000000.0     3
250000000.0     3
100000000.0     3
50000000.0      2
               ..
7836652.0       1
17121009.0      1
62356313.0      1
78257875.0      1
150000000.0     1
Name: series.private_equity, Length: 167, dtype: int64

and this is the same column series.private_equity but counting how many nan's
True     134579
False       208
Name: series.private_equity, dtype: int64

this column is series.secondary_market
0.000000e+00    5
2.341393e+08    1
7.839988e+06    1
5.719444e+09    1
8.600000e+06    1
1.600000e+07    1
Name: series.secondary_market, dtype: int64

and this is the same column series.secondary_market but counting how many nan's
True     134777
False        10
Name: series.secondary_market, dtype: int64

this column is series.seed
0.0          228
1000000.0     51
1500000.0     32
2000000.0     31
1200000.0     18
            ...
483123.0       1
2104653.0      1
833233.0       1
1351008.0      1
630000.0       1
Name: series.seed, Length: 1473, dtype: int64

and this is the same column series.seed but counting how many nan's

True     132690
False      2097
Name: series.seed, dtype: int64

this column is series.series_a
0.0           61
5000000.0     33
10000000.0    31
7000000.0     21
3000000.0     19
              ..
45019358.0     1
10652273.0     1
6505513.0      1
7957601.0      1
3392057.0      1
Name: series.series_a, Length: 672, dtype: int64

and this is the same column series.series_a but counting how many nan's
True     133737
False      1050
Name: series.series_a, dtype: int64

this column is series.series_b
0.0           23
20000000.0    15
10000000.0     9
25000000.0     9
15000000.0     7
              ..
19898996.0     1
9367236.0      1
90000000.0     1
33882320.0     1
1586689.0      1
Name: series.series_b, Length: 291, dtype: int64

and this is the same column series.series_b but counting how many nan's
True     134357
False       430
Name: series.series_b, dtype: int64

this column is series.series_c
40000000.0    10
0.0            9
25000000.0     6
10000000.0     5
50000000.0     4
              ..
46420718.0     1
44000000.0     1
19558499.0     1
37984696.0     1
11000000.0     1
Name: series.series_c, Length: 115, dtype: int64

and this is the same column series.series_c but counting how many nan's
True     134626
False       161
Name: series.series_c, dtype: int64

this column is series.series_d
0.0            3
15000000.0     3
40000000.0     3
98000000.0     2
30000000.0     2
9000000.0      2
27000000.0     1
28669478.0     1
38402457.0     1
67937889.0     1
6402753.0      1
8000000.0      1
24347813.0     1
18850661.0     1
26000000.0     1
3717942.0      1
10000000.0     1
3863295.0      1
15063475.0     1
91000000.0     1
17000000.0     1
25600000.0     1
8500000.0      1
95004476.0     1
51000000.0     1
35000000.0     1
200000000.0    1
350000000.0    1
100000000.0    1
39629182.0     1
22500000.0     1
175000000.0    1
65000000.0     1
13300000.0     1
55776025.0     1
50000000.0     1
14743826.0     1
26200000.0     1
5000000.0      1
49696751.0     1
26024994.0     1
25847006.0     1
2500000.0      1
Name: series.series_d, dtype: int64

and this is the same column series.series_d but counting how many nan's
True     134735
False        52
Name: series.series_d, dtype: int64

this column is series.series_e
150000000.0    2
15000000.0     2
6369329.0      1
16500000.0     1
7500000.0      1
22500000.0     1
5573681.0      1
6028762.0      1
0.0            1
80000000.0     1
19000000.0     1
37000000.0     1
24839783.0     1
27577766.0     1
58302012.0     1
50000000.0     1
10000000.0     1
20000000.0     1
75000000.0     1
22918141.0     1
8000000.0      1
Name: series.series_e, dtype: int64

and this is the same column series.series_e but counting how many nan's
True     134764
False        23
Name: series.series_e, dtype: int64

this column is series.series_f
30000000.0     2
41236847.0     1
37715923.0     1
100000000.0    1
17000000.0     1
Name: series.series_f, dtype: int64

and this is the same column series.series_f but counting how many nan's
True     134781
False         6
Name: series.series_f, dtype: int64

this column is series.series_g
78227342.0    1
41311864.0    1
39200000.0    1
Name: series.series_g, dtype: int64

and this is the same column series.series_g but counting how many nan's
True     134784
False         3
Name: series.series_g, dtype: int64

this column is series.series_h
167860845.0    1
5000000.0      1
1330000.0      1
Name: series.series_h, dtype: int64

and this is the same column series.series_h but counting how many nan's
True     134784
False         3
Name: series.series_h, dtype: int64

this column is series.series_unknown
0.0           204
5000000.0      15
1000000.0      12
10000000.0     12
2000000.0       7
             ...
2310120.0       1
23300000.0      1
1568313.0       1
4033456.0       1
921087.0        1
Name: series.series_unknown, Length: 914, dtype: int64

and this is the same column series.series_unknown but counting how many nan's
True     133565
False      1222
Name: series.series_unknown, dtype: int64

this column is series.total
1000000.0      38
5000000.0      23
2000000.0      22
10000000.0     19
1500000.0      17
               ..
250000000.0     1
652093.0        1
16713737.0      1
170000000.0     1
606392.0        1
Name: series.total, Length: 3342, dtype: int64

and this is the same column series.total but counting how many nan's
True     130961
False      3826
Name: series.total, dtype: int64

this column is series.undisclosed
0.0           37
52500000.0     1
520725.0       1
467432.0       1
2500000.0      1
              ..
804066.0       1
3876771.0      1
5210000.0      1
2581181.0      1
717363.0       1
Name: series.undisclosed, Length: 115, dtype: int64

and this is the same column series.undisclosed but counting how many nan's
True     134636
False       151
Name: series.undisclosed, dtype: int64

this column is socials.facebook
https://www.facebook.com/BarcelonaTechCity             12
https://www.facebook.com/                              10
https://www.facebook.com/jtspasni                       3
https://www.facebook.com/biomedcentral                  3
https://www.facebook.com/Webrevolve/                    3
                                                       ..
https://www.facebook.com/pg/UMISConsultancy             1
https://www.facebook.com/mobilyse                       1
https://www.facebook.com/DoubleUnderscore               1
https://www.facebook.com/238783909575650                1
https://www.facebook.com/PuntowebSitiInternetArezzo     1
Name: socials.facebook, Length: 77194, dtype: int64

and this is the same column socials.facebook but counting how many nan's
False    77498
True     57289
Name: socials.facebook, dtype: int64

this column is socials.linkedin
https://www.linkedin.com/company/barcelona-tech-city/                  10
https://www.linkedin.com/feed/                                          9
https://www.linkedin.com/company/unavailable/                           8
https://www.linkedin.com/in/unavailable/                                3
https://www.linkedin.com/company/leanconsult.ru/about/                  3
                                                                       ..
https://www.linkedin.com/company/silent-sounds-communications-ltd       1
https://www.linkedin.com/company-beta/5535799/?pathWildcard=5535799     1
https://www.linkedin.com/company/camfed                                 1
https://www.linkedin.com/company/mearns-&a;-company/                    1
https://www.linkedin.com/in/puntoweb-arezzo-8039a74b/                   1
Name: socials.linkedin, Length: 82178, dtype: int64

and this is the same column socials.linkedin but counting how many nan's
False    82296
True     52491
Name: socials.linkedin, dtype: int64

this column is socials.twitter
https://twitter.com/home                   12
https://twitter.com/jtspas                  3
https://www.twitter.com/moixatechnology     3
https://www.twitter.com/icreate_ltd         2
https://twitter.com/huddledmedia            2
                                           ..
https://twitter.com/Platinum_3D             1
http://twitter.com/golfshake                1
http://twitter.com/universLabs              1
https://twitter.com/RumpusPR                1
https://twitter.com/puntowebarezzo          1
Name: socials.twitter, Length: 74655, dtype: int64

and this is the same column socials.twitter but counting how many nan's
False    74814
True     59973
Name: socials.twitter, dtype: int64

this column is traffic.global_rank
686.0        4
72567.0      4
36848.0      4
64804.0      4
350213.0     4
            ..
4760417.0    1
3009471.0    1
5963717.0    1
3377058.0    1
5107663.0    1
Name: traffic.global_rank, Length: 50622, dtype: int64

and this is the same column traffic.global_rank but counting how many nan's
True     84090
False    50697
Name: traffic.global_rank, dtype: int64

this column is traffic.monthly
592.0      276
632.0      124
446.0       76
1169.0      73
558.0       72
          ...
64340.0      1
18416.0      1
92408.0      1
41471.0      1
17066.0      1
Name: traffic.monthly, Length: 21630, dtype: int64

and this is the same column traffic.monthly but counting how many nan's
True     84090
False    50697
Name: traffic.monthly, dtype: int64

this column is website

https://mybaker.co/             3
https://www.chorus.co           2
https://www.sword-apak.com/     2
http://www.bookatable.com       2
https://www.notpla.com/         2
                               ..
http://www.ziggiziggi.com       1
https://assured24.com/          1
http://www.jeffersons.com/      1
https://www.redstones.co.uk/    1
http://www.idea-web.org         1
Name: website, Length: 133743, dtype: int64

and this is the same column website but counting how many nan's
False    133778
True       1009
Name: website, dtype: int64

In [47]:
crunch[crunch['industries'].notna()]['employee_range'].value_counts()

[1,10]          66152
[11,50]         47338
[51,100]         7950
[101,250]        7184
[251,500]        3615
[501,1000]       2536
[1001,5000]         2
[5001,10000]        1
Name: employee_range, dtype: int64

<B>I WILL SEE IF I CAN FILTER AND REMOVE ALL NANS, INSTEAD OF REPLACING LIKE IN THE FOLLOWING CELL

In [6]:
#crunch['industries'].replace(np.nan, '[]', inplace=True)

In [54]:
crunch_where_ind_notna = crunch[crunch['industries'].notna()]

### THE FOLLOWING TWO CELLS SHOULDN'T BE RAN FOR THE MOMENT, since it will transform each cell in a list, and later on we will do the same process but transforming each in a set

<b> THIS BLOCK IS NOT RAN!"!!!!1

In [ ]:
# extract_dict_industries = lambda row: [lines['name'] for lines in json.loads(row)]

In [ ]:
# crunch['industries_list']= crunch['industries'].apply(extract_dict_industries)

In [ ]:
crunch.head()

In [ ]:
crunch = crunch.drop(columns='industries')
crunch.head()

In [ ]:
crunch.columns

In [ ]:
(crunch.scraped_light==True).value_counts()

In [ ]:
crunch.scraped_light.isna().value_counts()

<b> THIS BLOCK IS NOT RAN!"!!!!1

## there are no investors when scraped_light is nan

In [ ]:
crunch[crunch.scraped_light.isna()]['investors'].isna().value_counts()

### only 3417 values on investors in total

In [ ]:
crunch.investors.isna().value_counts()

In [ ]:
crunch.min_revenues.isna().value_counts()

In [ ]:
crunch[crunch.scraped_light.isna()]['min_revenues'].isna().value_counts()

In [ ]:
crunch.category.unique()

In [ ]:
for column in crunch.columns:
    print()
    print(f'The column name is {column} and the unique values are:' )
    print(crunch[column].unique())
    print()

In [ ]:
crunch.series.isna().value_counts()

## other columns to erase

In [ ]:
#i got to erase series column, 
#scraped_light, and what for is the column category, there is only
#company, investor, school and nan

In [ ]:
crunch['investors'].isna().value_counts()

In [ ]:
#investors probably not important as column, very few values

In [ ]:
crunch['investors'].replace(np.nan, '[]', inplace=True)

In [ ]:
extract_dict_investors = lambda row: [lines['name'] for lines in json.loads(row)]

In [ ]:
crunch['investors_list']= crunch['investors'].apply(extract_dict_investors)

In [ ]:
crunch.head()

### more columns to erase

In [ ]:
crunch = crunch.drop(columns=['investors', 'series'])

In [ ]:
crunch

In [ ]:
crunch[crunch.category == 'school']['series.grant']

In [ ]:
crunch['series.grant'].unique()

In [ ]:
crunch.min_revenues.isna().value_counts()

In [ ]:
crunch[crunch.min_revenues.isna()].loc[:,'series.angel':]

In [ ]:
crunch[crunch.min_revenues.isna()]['series.total'].isna().value_counts()

In [ ]:
crunch[~crunch.min_revenues.isna()]['series.total'].isna().value_counts()

In [ ]:
crunch.columns

In [ ]:
crunch.corr

In [ ]:
test = crunch.dropna()

In [ ]:
test #why th8s?

In [ ]:
#df = crunch.drop_duplicates()

### more columns to drop

In [ ]:
df = crunch.drop(columns= ['_id', 'category', 'country_code', 'employee_range', 'legal_name',
       'min_revenues', 'name',  'series.angel',
       'series.convertible_note', 'series.corporate_round',
       'series.debt_financing', 'series.equity_crowdfunding', 'series.grant',
       'series.initial_coin_offering', 'series.non_equity_assistance',
       'series.post_ipo_debt', 'series.post_ipo_equity', 'series.pre_seed',
       'series.private_equity', 'series.secondary_market', 'series.seed',
       'series.series_a', 'series.series_b', 'series.series_c',
       'series.series_d', 'series.series_e', 'series.series_f',
       'series.series_g', 'series.series_h', 'series.series_unknown',
       'series.total', 'series.undisclosed', 'traffic.global_rank',
       'traffic.monthly',  'industries_list', 'investors_list'])

In [ ]:
df = crunch.drop(columns= [ 'descriptions.long','descriptions.short', 'email','phone', 'scraped_light', 'socials.facebook',
       'socials.linkedin', 'socials.twitter','website',])

In [ ]:
df = df.drop(columns='legal_name')

In [ ]:
df.head()

In [ ]:
for column in df.columns[0:10]:
    print()
    print(f'The column name is {column} and the value is:' )
    print()
    print(f'the first element is of type {type(df[column][0])}')
    print(df[column])
    print()

In [ ]:
df.info()

In [ ]:
df['series.angel'].isna().value_counts()

In [ ]:
df['series.angel'].value_counts()

## SUM ALL SERIES

In [ ]:
df.loc[:10, 'series.angel':'series.undisclosed']

In [ ]:
list(enumerate(df))

In [ ]:
total = 0
for (index, colname) in enumerate(df):
    print(index, colname, df[colname][3])
    if index >5 and index <29:
        total = total + df[colname][3]
print(f'total is {total}')

In [ ]:
for (index, colname) in enumerate(df):
    if 'series' in colname:
        df[colname].replace(np.nan, 0.0, inplace=True)

In [ ]:
df.loc[:10, 'series.angel':'series.undisclosed']

In [ ]:
#df['series.angel':'series.undisclosed'].replace(np.nan, 0.0, inplace=True)

In [ ]:
#df['series.angel':'series.undisclosed'].

In [ ]:
df['total funds']= df.iloc[:, 6:31].sum(axis =1)

In [ ]:
(df['total funds']>0).value_counts()

In [ ]:
df.info()

## element & element boolean

In [ ]:
df['series.undisclosed'].value_counts()

In [ ]:
#df[df['series.undisclosed']>0 and df['series.total']>0].value_counts()

In [ ]:
df[df['series.undisclosed']>0].value_counts()

In [ ]:
df['series.undisclosed'].unique()

In [ ]:
rslt_df = df[(df['series.total'] > 0) & 
          (df['series.undisclosed'] > 0)]

In [ ]:
rslt_df.info()

In [ ]:
df['series.undisclosed'].info()

In [ ]:
df

In [ ]:
df.info()

In [ ]:
df.employee_range.unique()

In [ ]:
df.min_revenues.unique()

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df['industries_list'] #clustering

In [ ]:
df.category.unique()

In [ ]:
df.head()

# DROPPED MORE COLUMNS - should     have only one function for this

In [ ]:
df.columns

In [ ]:
df = df.drop(columns=['category', 'series.angel', 'series.convertible_note',
       'series.corporate_round', 'series.debt_financing',
       'series.equity_crowdfunding', 'series.grant',
       'series.initial_coin_offering', 'series.non_equity_assistance',
       'series.post_ipo_debt', 'series.post_ipo_equity', 'series.pre_seed',
       'series.private_equity', 'series.secondary_market', 'series.seed',
       'series.series_a', 'series.series_b', 'series.series_c',
       'series.series_d', 'series.series_e', 'series.series_f',
       'series.series_g', 'series.series_h', 'series.series_unknown',
       'series.total', 'series.undisclosed'])

In [ ]:
df.info()

In [ ]:
df.employee_range.unique()

In [ ]:
df.employee_range.isna().value_counts()

In [ ]:
df.min_revenues.unique()

In [ ]:
df.head()

# TREATING EMPLOYEE_RANGE

In [ ]:
#employee_clean = lambda x: x[1:-1].split(',')

In [ ]:
df['employee_range'].unique()

In [ ]:
test = df['employee_range'][0]
test

In [ ]:
employee_clean = lambda x: int(np.mean([ int(a) for a in x[1:-1].split(',')]))

In [ ]:
result = employee_clean(test)

In [ ]:
result

In [ ]:
df['employee_range'].isna().value_counts()

In [ ]:
df.info()

In [ ]:
df = df[~df['employee_range'].isna()]

In [ ]:
df.shape

In [ ]:
#type(result[0])

In [ ]:
df['employee_range']= df['employee_range'].apply(employee_clean)

In [ ]:
df.head()

# TREATING MIN REVENUES

In [ ]:
df.min_revenues.isna().value_counts()

In [ ]:
#moyenne, ou minium categorie car peut etre revenue est faible, on prends choix au momentd e la modelisation

moyenne par industrie

In [ ]:
df['min_revenues'].hist(bins=3)

In [ ]:
df['min_revenues'].unique()

In [ ]:
df['min_revenues'].value_counts()

In [ ]:
something = df[~df['min_revenues'].isna()]['min_revenues']

In [ ]:
something

In [ ]:
type(df['min_revenues'][573])

In [ ]:
#something[0] #WHY?????

# TREATING GLOBAL RANK

In [ ]:
df['traffic.global_rank'].hist()

# FINDING CORRELATION

In [ ]:
df.corr()

In [ ]:
df.head()

# TREATING INDUSTRIES LIST

In [ ]:
type(df['industries_list'][0])

In [ ]:
all_industries = []
for row in df['industries_list']:
    for ele in row:
        if ele not in all_industries:
            all_industries.append(ele)
all_industries

In [ ]:
len(all_industries)

In [ ]:
df.info()

In [ ]:
industries_dict = {
    "Finance & Accounting": [
        "Finance",
        "Financial Services",
        "FinTech",
        "Trading Platform",
        "Asset Management",
        "Banking",
        "Lending",
        "Bitcoin",
        "Cryptocurrency",
        "Financial Exchanges",
        "Angel Investment",
        "Impact Investing",
        "Venture Capital",
        "Accounting",
        "Payments",
        "Consumer Lending",
        "Credit",
        "Personal Finance",
        "Commercial Insurance",
        "Insurance",
        "InsurTech",
        "Auto Insurance",
        "Wealth Management"
    ],
    "Technology & Software": [
        "Artificial Intelligence",
        "Analytics",
        "Marketplace",
        "Information Services",
        "Mobile",
        "SaaS",
        "Smart Cities",
        "E-Commerce",
        "Machine Learning",
        "Predictive Analytics",
        "Natural Language Processing",
        "Market Research",
        "Blockchain",
        "Cyber Security",
        "Industrial Automation",
        "Quantum Computing",
        "Big Data",
        "Privacy",
        "Developer APIs",
        "Apps",
        "B2B",
        "B2C",
        "Computer",
        "Enterprise Software",
        "Database",
        "Computer Vision",
        "Robotics",
        "Transaction Processing",
        "Peer to Peer",
        "Intellectual Property",
        "Android",
        "Cloud Computing",
        "Education",
        "iOS",
        "Hardware",
        "Semiconductor",
        "Collaboration",
        "Communications Infrastructure",
        "IaaS",
        "Productivity Tools",
        "Unified Communications",
        "Virtual Workforce",
        "Identity Management",
        "Security",
        "Internet of Things",
        "E-Learning",
        "Open Source",
        "Operating Systems",
        "Embedded Software",
        "Embedded Systems",
        "Developer Tools"
    ],
    "Health & Wellness": [
        "Biopharma",
        "Biotechnology",
        "Genetics",
        "Health Diagnostics",
        "Nanotechnology",
        "Assistive Technology",
        "Health Care",
        "Information Technology",
        "mHealth",
        "Personal Health"
    ],
    "Marketing & Advertising": [
        "Advertising",
        "Content",
        "Digital Marketing",
        "Digital Media",
        "Social Media Marketing",
        "Content Marketing",
        "Affiliate Marketing",
        "Retail Technology"
    ],
    "Transportation & Logistics": [
        "Logistics",
        "Marine Technology",
        "Automotive",
        "Autonomous Vehicles",
        "Fleet Management",
        "Internet",
        "Rental",
        "Transportation",
        "Marine Transportation",
        "Shipping",
        "Delivery Service",
        "Travel"
    ],
    "Energy & Environment": [
        "Clean Energy",
        "Energy",
        "Industrial Engineering"
    ]
}

In [ ]:
my_test = df['industries_list'][0]
my_test

In [ ]:
df['industries_list'][0]

In [ ]:
for index, row in enumerate(df['industries_list']):
    print(index, row)

## Created a for loop to change industries_list into values from dict. Too long

In [ ]:
industries_dict.keys()

In [ ]:
'Travel' in industries_dict.values()

In [ ]:
industries_dict.values()

In [ ]:
my_test = ['Finance', 'Financial Services', 'FinTech', 'Marketplace', 'Trading Platform']

In [ ]:
set(my_test)

In [ ]:
clean_industries_list = lambda row: set([k for k, v in industries_dict.items() if set(row).intersection(set(v))])

In [ ]:
clean_industries_list(df['industries_list'][0])

In [ ]:
df['industries_list'][50000]

In [ ]:
df['industries_cleaned'] = df['industries_list'].apply(clean_industries_list)

In [ ]:
df.head()

In [ ]:
#do not run this cell
"""
for index, row in enumerate(df['industries_list']):
    my_new_list = []
    for industries_in_cell in row:
        for sector, industries_in_dict in industries_dict.items():
            if industries_in_cell in industries_in_dict:
                if sector not in my_new_list:
                    my_new_list.append(sector)
    df['industries_list'][index]= my_new_list
        
"""

In [ ]:
df['industries_list'][0]

In [ ]:
df

In [ ]:
my_new_list

In [ ]:
industries_dict.values()

In [ ]:
industries_dict.keys()

In [ ]:
for k, v in industries_dict.items():
    print(v)

In [ ]:
df = df.drop(columns='industries_list')

In [ ]:
df

# CHANGED Total funds into 1 or 0 if funds True

In [ ]:
df['total funds']= df['total funds']>0

In [ ]:
df['total funds']= df['total funds'].apply(lambda x: 1 if x == True else 0)

In [ ]:
df

In [ ]:
df.head()

In [ ]:
df = df.drop(columns=['name'])

In [ ]:
no_revenues_df = crunch[crunch['min_revenues'].isna()].loc[]

In [ ]:
df[df['total funds']==1]['min_revenues'].value_counts()

In [ ]:
df[df['total funds']==1]['min_revenues'].isna().value_counts()

### 56300 show no info on revenues

In [ ]:
df['min_revenues'].isna().value_counts()

### from these 56300 companies from which we don't have any info on revenues, 3835 fund raised

In [ ]:
df[df['min_revenues'].isna()]['total funds'].value_counts()

### 79956 companies show info on revenues

In [ ]:
df['min_revenues'].notna().value_counts()

### from these 79956 companies from which we have revenues, 1 fund raised

In [ ]:
df[df['min_revenues'].notna()]['total funds'].value_counts()

### From 132420 companies, only 3836 raised

In [ ]:
df['total funds'].value_counts()

### And from these 3836 companies that raised, 3835 have no info on revenues!

In [ ]:
crunch.columns

In [ ]:
'series.angel'

In [ ]:
df.head()

1. quel modèles scikitlearn classifier
2. 
- country_code = onehotencoder
- investors list onehotencoder
- industries_cleaned = onehotencoder
- employee_range onehotencoder

### confirming hypothesis on immature startups(Angel, pre-seed, seed, series a) that have no revenues

#### however we know previously that 99% of no revenue companies/startups, were the ones who raised. And only 1% with revenue raised

In [ ]:
crunch

In [ ]:
list(enumerate(crunch))

In [ ]:
immature = crunch[['min_revenues','series.angel','series.pre_seed','series.seed','series.series_a']]

In [ ]:
immature

In [ ]:
list(enumerate(immature))

In [ ]:
for index, colname in enumerate(immature):
    if 'series' in colname:
        immature[colname].replace(np.nan, 0.0, inplace=True)

In [ ]:
immature

In [ ]:
immature['total'] = immature.loc[:, 'series.angel':'series.series_a'].sum(axis=1)

In [ ]:
immature

In [ ]:
#df['total funds']= df.iloc[:, 6:31].sum(axis =1)

In [ ]:
immature = immature.drop(columns=['series.angel', 'series.pre_seed', 'series.seed', 'series.series_a'])

In [ ]:
immature['total'] =immature['total']>0

In [ ]:
immature['total'] = immature['total'].apply(lambda x: 1 if x==True else 0)

In [ ]:
immature

In [ ]:
immature[immature['min_revenues'].isna()]['total'].value_counts()

### now let's compare with mature, companies after series a and see revenues behaviour

In [ ]:
mature = crunch[[]]

In [ ]:
test

In [ ]:
list(range(7))

In [ ]:
list(range(13, 22))

In [ ]:
[8, list(range(13, 22)), 23, 24, list(range(27,35))]

In [ ]:
mature = crunch[['min_revenues']]
for index, colname in enumerate(crunch):
    if index in [23, 24] or index in list(range(13, 22)) or index in list(range(27,35)):
        mature[colname] = crunch[colname]

In [ ]:
mature

In [ ]:
list(enumerate(crunch))

#### why the following doesn't work?

In [ ]:
#mature.loc[:, 'series.convertible_note':'series.series_unknown'].apply(lambda x: x.replace(np.nan, 0.0, inplace=True))

In [ ]:
mature.loc[:,'series.convertible_note':]

In [ ]:
list(enumerate(mature.loc[:,'series.convertible_note':]))

In [ ]:
for index, colname in enumerate(mature.loc[:,'series.convertible_note':]):
    mature[colname].replace(np.nan, 0.0, inplace=True)

In [ ]:
mature

In [ ]:
mature['total'] = mature.loc[:,'series.convertible_note':].sum(axis=1)

In [ ]:
mature_final = mature[['min_revenues', 'total']]

In [ ]:
mature_final['total'] =mature_final['total']>0

In [ ]:
mature_final['total'] = mature_final['total'].apply(lambda x: 1 if x ==True else 0)

In [ ]:
mature_final

### Les boites matures (series-b,c,d,e,f,gh, etc) qui n'ont pas de revenues, 2264 ont lévé

In [ ]:
mature_final[mature_final['min_revenues'].isna()]['total'].value_counts()

### les boites Matures (series-b,c,d,e,f,g,h, etc) qui ont de revenues, juste 1 a levé

In [ ]:
mature_final[mature_final['min_revenues'].notna()]['total'].value_counts()

### les boites immatures (angel, pre-seed, seed, series-a) qui n'ont pas de revenues, 2635 ont levé de fonds

In [ ]:
immature[immature['min_revenues'].isna()]['total'].value_counts()

### Les boites immatures (angel, pre-seed, seed, series-a) qui ont de revenues, aucune n'a levé

In [ ]:
immature[immature['min_revenues'].notna()]['total'].value_counts()

### On voit que les matures et immatures qui n'ont pas de revenues, correspondent à 99% qui ont levés

In [ ]:
immature.shape

In [ ]:
mature_final.shape

In [ ]:
immature.info()

In [ ]:
immature[['min_revenues', 'total_immature']] = immature

In [ ]:
immature = immature.drop(columns=['total'])

In [ ]:
immature

In [ ]:
mature_final

In [ ]:
mature_final['total_mature'] = mature_final['total']

In [ ]:
mature_final = mature_final.drop(columns=['total'])

In [ ]:
mature_final

In [ ]:
# trying = pd.merge(immature, mature_final) THIS COMMAND TOOK FOREVER, WHY?

In [ ]:
immature

In [ ]:
mature_final

In [ ]:
my_total = immature

In [ ]:
my_total['total_mature'] = mature_final['total_mature']

In [ ]:
my_total

In [ ]:
my_total['immature and mature'] = my_total[['total_immature','total_mature']].sum(axis=1)

In [ ]:
my_total

In [ ]:
my_total['immature and mature'].value_counts()

### Les immatures qui ont levés uniquement angel, pre-seed, seed, series-a sont 1542

In [ ]:
my_total[my_total['immature and mature']==1]['total_immature'].value_counts()

In [ ]:
my_total[(my_total['immature and mature']==1) & (my_total['min_revenues'].notna())]

In [ ]:
my_total[(my_total['immature and mature']==1) & (my_total['min_revenues'].isna())]

### Les immatures qui ont levés uniquement angel, pre-seed, seed, series-a, qui n'avaient pas d'info sur revenues, sont 1542

In [ ]:
my_total[(my_total['immature and mature']==1) & (my_total['min_revenues'].isna())]['total_immature'].value_counts()

### Les matures qui ont lévé, mais pas angel, ni pre-seed, ni seed, ni series-a mais le reste, sont 1172

In [ ]:
my_total[my_total['immature and mature']==1]['total_mature'].value_counts()

In [ ]:
my_total[(my_total['immature and mature']==1) & (my_total['min_revenues'].notna())]['total_mature'].value_counts()

### Les matures qui ont levés, mais pas angel ni (pre-seed, seed, series a) mais le reste, qui n'avaient pas d'infos sur de revenues, sont 1171

In [ ]:
my_total[(my_total['immature and mature']==1) & (my_total['min_revenues'].isna())]['total_mature'].value_counts()

In [ ]:
my_total[(my_total['immature and mature']==2) & (my_total['min_revenues'].isna())]

In [ ]:
my_total[(my_total['immature and mature']==2) & (my_total['min_revenues'].isna())]['total_mature'].value_counts()

In [ ]:
my_total[(my_total['immature and mature']==2) & (my_total['min_revenues'].isna())]['total_immature'].value_counts()

In [ ]:
industries_dict_complete = {
"Education": [ "Charter Schools", "Children", "Continuing Education", "Corporate Training", "E-Learning", "EdTech", "Education", "Higher Education", "Tutoring", "Universities", "Vocational Education" ],
"Business_Products_And_Services": [ "Accounting", "Advice", "Alumni", "Association", "B2B", "B2C", "Billing", "Brand Marketing", "Business Development", "Call Center", "Career Planning", "Charity", "Consulting", "Contact Management", "Coworking", "Creative Agency", "CRM", "Customer Service", "Digital Marketing", "Direct Sales", "Email Marketing", "Enterprise", "Freelance", "Information Services", "Innovation Management", "Intellectual Property", "Interior Design", "Knowledge Management", "Laundry and Dry-cleaning", "Lead Generation", "Legal", "Local", "Local Advertising", "Local Business", "Loyalty Programs", "Management Consulting", "Market Research", "Marketing", "Non Profit", "Outsourcing", "Price Comparison", "Procurement", "Product Management", "Product Research", "Professional Services", "Public Relations", "Quality Assurance", "Reservations", "Sales", "Self-Storage", "Service Industry", "Small and Medium Businesses", "Social Entrepreneurship", "Social Impact", "Social Media Management", "Social Media Marketing", "Subscription Service", "Supply Chain Management", "Ticketing", "Trade Shows", "Transaction Processing", "Translation Service", "Virtual Workforce", "Warehousing", "Wholesale" ],
"software": ["A/B Testing", "Analytics", "Application Performance Management", "Archiving Service", "Big Data", "Business Information Systems", "Business Intelligence", "CivicTech", "Cloud Computing", "Cloud Data Services", "Cloud Infrastructure", "Cloud Management", "Cloud Security", "Cloud Storage", "Collaboration", "Consumer Software", "Data Center", "Data Center Automation", "Data Integration", "Data Mining", "Data Storage", "Data Visualization", "Database", "Desktop Apps", "Developer APIs", "Developer Platform", "Developer Tools", "Document Management", "Domain Registrar", "E-Commerce Platforms", "E-Signature", "Electronic Design Automation (EDA)", "Email", "Embedded Software", "Embedded Systems", "Enterprise Applications", "Enterprise Resource Planning (ERP)", "Enterprise Software", "File Sharing", "Graphic Design", "IaaS", "Information Technology", "IT Management", "Legal Tech", "Linux", "Management Information Systems", "Marketing Automation", "Meeting Software", "MMO Games", "Online Games", "Open Source", "Operating Systems", "PaaS", "PC Games", "Photo Editing", "Presentation Software", "Productivity Tools", "Project Management", "Reading Apps", "SaaS", "Sales Automation", "Scheduling", "Serious Games", "Software", "Software Engineering", "Usability Testing", "UX Design", "Video Editing", "Virtualization", "Web Design", "Web Development", "Web Hosting"],
"media_traditional": ["Ad Exchange", "Ad Network", "Ad Retargeting", "Ad Server", "Ad Targeting", "Advertising", "Advertising Platforms", "Animation", "Art", "Blogging Platforms", "Broadcasting", "Digital Entertainment", "Digital Media", "EBooks", "Film", "Film Production", "Independent Music", "Internet Radio", "Journalism", "Media and Entertainment", "Music", "Music Label", "Music Streaming", "News", "Outdoor Advertising", "Podcast", "Politics", "Publishing", "TV", "TV Production"],
"agriculture": ["Agriculture", "AgTech", "Animal Feed", "Aquaculture", "Cannabis", "Farmers Market", "Farming", "Forestry", "Fruit", "Hydroponics", "Organic"],
"transportation": ["Air Transportation", "Automotive", "Autonomous Vehicles", "Car Sharing", "Delivery", "Delivery Service", "Electric Vehicle", "Fleet Management", "Freight Service", "Last Mile Transportation", "Logistics", "Marine Transportation", "Parking", "Public Transportation", "Railroad", "Recreational Vehicles", "Ride Sharing", "Same Day Delivery", "Shipping", "Space Travel", "Taxi Service", "Transportation", "Water Transportation"],
"Healthcare": ['Alternative Medicine', 'Bioinformatics', 'Biopharma', 'Biotechnology', 'Child Care', 'Clinical Trials', 'Cosmetic Surgery', 'Dental', 'Elder Care', 'Elderly', 'Electronic Health Record (EHR)', 'Emergency Medicine', 'Funerals', 'Genetics', 'Health', 'Health Care', 'Health Diagnostics', 'Home Health Care', 'Hospital', 'Life Science', 'Medical', 'Medical Device', 'Neuroscience', 'Nursing and Residential Care', 'Personal Health', 'Pharmaceutical', 'Quantified Self', 'Rehabilitation', 'Therapeutics', 'Veterinary', 'Wellness'],
"Mobile_And_Telecommunications": ['Android', 'App Marketing', 'Apps', 'Augmented Reality', 'Communications Infrastructure', 'GPS', 'iOS', 'Location Based Services', 'Messaging', 'Mobile', 'Mobile Advertising', 'Mobile Apps', 'Mobile Devices', 'NFC', 'QR Codes', 'Satellite Communication', 'SMS', 'Telecommunications', 'Unified Communications', 'Video Conferencing', 'VoIP', 'Wireless'],
"Financial": ["Angel Investment", "Asset Management", "Auto Insurance", "Banking", "Bitcoin", "Blockchain", "Consumer Lending", "Credit", "Credit Cards", "Crowdfunding", "Cryptocurrency", "Debit Cards", "Debt Collections", "Emerging Markets", "Ethereum", "Finance", "Financial Exchanges", "Financial Services", "FinTech", "Funding Platform", "Health Insurance", "Hedge Funds", "Impact Investing", "Insurance", "InsurTech", "Leasing", "Lending", "Life Insurance", "Mobile Payments", "Payments", "Personal Finance", "Prediction Markets", "Property Insurance", "Real Estate Investment", "Retirement", "Risk Management", "Trading Platform", "Venture Capital", "Wealth Management"],
"artificial_intelligence": ["Artificial Intelligence", "Computer Vision", "Facial Recognition", "Gamification", "Human Computer Interaction", "Image Recognition", "Intelligent Systems", "Language Learning", "Machine Learning", "MOOC", "Motion Capture", "Natural Language Processing", "Personalization", "Predictive Analytics", "Quantum Computing", "Real Time", "Robotics", "Semantic Search", "Semantic Web", "Simulation", "Smart Building", "Smart Cities", "Smart Home", "Speech Recognition", "Text Analytics", "Virtual Assistant", "Virtual Reality", "Visual Search"],
"Retail_NonInternetMobile": ['Auctions', 'Beauty', 'Classifieds', 'Collaborative Consumption', 'Consumer', 'Consumer Goods', 'Cosmetics', 'Coupons', 'DIY', 'E-Commerce', 'Eyewear', 'Fashion', "Fast-Moving Consumer Goods", 'Flowers', 'Gift', 'Gift Card', 'Jewelry', 'Lingerie', 'Local Shopping', "Men's", 'Musical Instruments', 'Rental', 'Retail', 'Shoes', 'Shopping', 'Social Shopping', 'Sporting Goods', 'Toys', "Women's"],
"Electronics": ['Audio', 'Consumer Electronics', 'Digital Signage', 'Electronics', 'Laser', 'Lighting', 'Optical Communication', 'RFID', 'Semiconductor', 'Sensor', 'Wearables'],
"Food_And_Beverages": ['Baby', 'Bakery', 'Catering', 'Coffee', 'Confectionery', 'Cooking', 'Craft Beer', 'Dietary Supplements', 'Food and Beverage', 'Food Delivery', 'Food Processing', 'Grocery', 'Nutraceutical', 'Nutrition', 'Organic Food', 'Pet', 'Recipes', 'Restaurants', 'Seafood', 'Snack Food', 'Tea', 'Wine And Spirits', 'Winery'],
"energy_and_utilities": ["Battery", "Biomass Energy", "Clean Energy", "CleanTech", "Electrical Distribution", "Energy", "Energy Efficiency", "Energy Management", "Energy Storage", "Fossil Fuels", "Fuel", "Fuel Cell", "Infrastructure", "Natural Resources", "Nuclear", "Oil and Gas", "Power Grid", "Renewable Energy", "Solar", "Water", "Wind Energy"],
"risk_and_security": ['Biometrics', 'Compliance', 'Cyber Security', 'Fraud Detection', 'Homeland Security', 'Identity Management', 'Intrusion Detection', 'Law Enforcement', 'Military', 'Network Security', 'Physical Security', 'Privacy', 'Public Safety', 'Reputation', 'Security'],
"Computer_Hardware_And_Services": ['CAD', 'Computer', 'Hardware', 'IT Infrastructure', 'Network Hardware', 'Point of Sale', 'Private Cloud', 'Retail Technology', 'Technical Support'],
"real_estate": ["Commercial Real Estate", "Property Development", "Property Management", "Real Estate", "Rental Property", "Residential", "Timeshare", "Travel Accommodations", "Vacation Rental"],
"internet": ["Communities", "Consumer Applications", "Consumer Reviews", "Content", "Content Creators", "Content Delivery Network", "Content Discovery", "Content Marketing", "Crowdsourcing", "ICT", "Internet", "Internet of Things", "ISP", "Mapping Services", "Marketplace", "Navigation", "Online Auctions", "Online Portals", "Peer to Peer", "Photo Sharing", "Private Social Networking", "Product Search", "Q&A", "Search Engine", "SEM", "SEO", "Sharing Economy", "Social", "Social Bookmarking", "Social Media", "Social Media Advertising", "Social Network", "Social News", "Video", "Video Advertising", "Video Chat", "Video on Demand", "Video Streaming", "Virtual World", "Web Apps", "Web Browsers"],
"hr_people_needs": ['Employee Benefits', 'Employment', 'Family', 'Human Resources', 'Parenting', 'Personal Branding', 'Personal Development', 'Professional Networking', 'Recruiting', 'Skill Assessment', 'Social Recruiting', 'Staffing Agency', 'Training'],
"environmental_services_and_equipment": ['Environmental Consulting', 'Environmental Engineering', 'Green Building', 'Green Consumer Goods', 'GreenTech', 'Janitorial Service', 'Landscaping', 'Marine Technology', 'Packaging Services', 'Parks', 'Pollution Control', 'Printing', 'Recycling', 'Sustainability', 'Waste Management', 'Water Purification']
}

In [ ]:
industries_dict_complete.keys()

In [ ]:
industries_dict_complete.values()

In [ ]:
crunch['industries_list']

In [ ]:
for industry in crunch['industries_list'][0]:
    print(industry)
    if industry in industries_dict_complete.values():
        print(industry)

In [ ]:
index, *value = crunch[['industries_list']][:10].iterrows()

In [ ]:
industria = crunch[['industries_list']][:2].iterrows()

In [ ]:
list(industria)

In [ ]:
#industria.shape

In [ ]:
index

In [ ]:
value

In [ ]:
list(crunch[['industries_list']][:10].iterrows())

In [ ]:
crunch[['industries_list']][:10].iterrows()

In [ ]:
for bulk in industries_dict_complete.values():
    for index, industry in crunch[['industries_list']][:10].iterrows():
        if bulk in industry['industries_list']:
            print(industry)

In [ ]:
test_df = crunch[['industries_list']][:10]

In [ ]:
test_df

In [ ]:
my_industries = ['Finance', 'Financial Services', 'FinTech']

In [ ]:
cleaning_ind_complete = lambda row: set( [k for k, v in industries_dict_complete.items() if set(row).intersection(set(v)) ])

In [ ]:
#another_test = cleaning_ind_complete(test_df['industries_list'])

### CLEANING THE NEW INDUSTRY DICT COMPLETE THE RESULT, THE WHOLE PROCESS IS BEFORE

In [ ]:
another_test = test_df['industries_list'].apply(cleaning_ind_complete)

In [ ]:
another_test

In [ ]:
test_df['industries_list']

In [ ]:
#clean_industries_list = lambda row: set([k for k, v in industries_dict.items() if set(row).intersection(set(v))])

In [ ]:
crunch[['industries_list']].apply()

In [ ]:
for index, row in crunch[['industries_list']][:10].iterrows():
    for industry in my_industries:
        if industry in row['industries_list']:
            print(f'the index is {index}')
            print(industry)

In [ ]:
crunch

In [ ]:
df

1. quel modèles scikitlearn classifier
2. - country_code = onehotencoder
- investors list onehotencoder
- industries_cleaned = onehotencoder
- employee_range onehotencoder

In [ ]:
df

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.scatter(df['country_code'], df['employee_range'])

In [ ]:
for country in df['country_code'].unique():
    print(country)
    plt.scatter(df['country_code'].str.contains(country), df['employee_range'])
    plt.xlabel(f'the country is {country}')
    plt.ylabel('Number of employees')
    plt.show()

In [ ]:
plt.scatter(df['min_revenues'], df['employee_range'])

In [ ]:
plt.scatter(df['min_revenues'], df['traffic.monthly'])

In [ ]:
#df.duplicated()
df.loc[df.astype(str).duplicated().index]

In [ ]:
df.astype(str).duplicated()

In [ ]:
df.astype(str).duplicated().sum()

In [ ]:
#df = df.drop_duplicates()
df = df.astype(str).drop_duplicates()

In [ ]:
df.shape

In [ ]:
df

In [ ]:
df.isnull().sum().sort_values(ascending=False)

In [ ]:
df.isna().sum().sort_values(ascending=False)

In [ ]:
df

In [ ]:
df.isnull().sort_values(by='traffic.global_rank',ascending=False)

In [ ]:
df.notna().sort_values(by='traffic.global_rank',ascending=False)

In [ ]:
df.sort_values(by='traffic.global_rank',ascending=False)

In [ ]:
type(df['traffic.monthly'][243266])

In [ ]:
for index, colname in enumerate(df):
    df[colname].replace('nan', np.nan, inplace=True)

In [ ]:
df['traffic.monthly'].astype(str)

In [ ]:
df['traffic.monthly'].astype(str)=='nan'

In [ ]:
type(df['traffic.monthly'][311409])

In [ ]:
#df['traffic.monthly'].isna().sum().sort_values()

### trafic monthly has 85011 nan values

In [ ]:
df['traffic.monthly'].isna().value_counts()

In [ ]:
df['traffic.monthly'].isna()

In [ ]:
df['traffic.global_rank'].isna().value_counts()

In [ ]:
for index, colname in enumerate(df):
    print(f'this is the column {colname} and these are the values: \n{df[colname].isna().value_counts()}')
    print()

In [ ]:
136256-132839

In [ ]:
df[df['investors_list'].astype(str)=='[]']['investors_list'].value_counts()

In [ ]:
#df[df['total funds']>0]['total funds'].value_counts()

In [ ]:
df['total funds'].astype(str)

In [ ]:
df['total funds'].astype(str)[0]

In [ ]:
type(df['total funds'].astype(str)[0])

In [ ]:
df.info()

In [ ]:
#df[['min_revenues']].boxplot()

In [ ]:
df['min_revenues'].astype(str)

In [ ]:
df['min_revenues'].astype(str).value_counts()

In [ ]:
df['min_revenues'].isna().value_counts()

In [ ]:
type(df['min_revenues'][311411])

In [ ]:
df['min_revenues'][311412] == np.nan

In [ ]:
df['min_revenues'][311412] == 'nan'

In [ ]:
df['min_revenues'].replace('nan')

In [ ]:
df

In [ ]:
df.columns

In [ ]:
df

In [ ]:
crunch.columns

In [ ]:
df['total funds'].replace('1', int(1), inplace=True)

In [ ]:
df['total funds'].replace('0', int(0), inplace=True)

In [ ]:
df['total funds'].astype(str).value_counts()

In [ ]:
type(df['total funds'][4])

In [ ]:
df['min_revenues']

In [ ]:
df

In [ ]:
df['traffic.monthly'].notna().value_counts()

In [ ]:
df[df['traffic.monthly'].notna()]['total funds'].value_counts()

In [ ]:
df[df['traffic.monthly'].isna()]['total funds'].value_counts()

In [ ]:
df[df['investors_list']=='[]']['total funds'].value_counts()

### Nous avouns industrie, head count, country

### est-ce que pas d'investisseurs ou c'est parce qu'on n'a pas les données

In [ ]:
df[df['total funds']==1]['investors_list'].isna().value_counts()

In [ ]:
#df[['traffic.global_rank']].boxplot();

In [ ]:
df['traffic.global_rank'].apply(type).eq(str).value_counts()

In [ ]:
#df['traffic.global_rank'] = df[df['traffic.global_rank'].apply(type).eq(str)]['traffic.global_rank'].apply(lambda x: float(x))
# NOT DO THIS! it equaled the good values, but added nan's everywhere because it was a boolean mask

In [ ]:
df[df['traffic.global_rank'].apply(type).eq(str)]['traffic.global_rank']

In [ ]:
df['traffic.global_rank']