In [1]:
import pandas as pd

In [2]:
path_crunch_v2 = '../raw_data/crunchbase_v2.json'

In [3]:
#crunch_v2_2 = pd.read_json(path_crunch_v2, chunksize=1000, lines=True) #didn't work json.load

In [4]:
crunch_v2 = pd.read_json(path_crunch_v2)

In [5]:
crunch_v2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1312274 entries, 0 to 1312273
Data columns (total 19 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   _id              1312274 non-null  object
 1   nb_rounds        204371 non-null   float64
 2   scraped_funding  1312274 non-null  bool
 3   total            149297 non-null   float64
 4   address          1312244 non-null  object
 5   created_at       1034223 non-null  object
 6   logo             1118022 non-null  object
 7   name             1312244 non-null  object
 8   scraped_profile  1312244 non-null  float64
 9   status           1312244 non-null  object
 10  tags             1224191 non-null  object
 11  type             1312244 non-null  object
 12  founders         314195 non-null   object
 13  legal_name       228558 non-null   object
 14  phone            878482 non-null   object
 15  socials          1216944 non-null  object
 16  description      1312222 non-null  object
 17  rounds           204371 non-null   object
 18  scraped_rounds   203371 non-null   float64
dtypes: bool(1), float64(4), object(14)
memory usage: 181.5+ MB

### ALL STATUS ACTIVE ONLY. Closed are bankrupt or stopped activity

In [6]:
crunch_v2 = crunch_v2[crunch_v2['status']=='active']

### NOW REMOVE ALL ORGS AND COLLEGES and remain corporation

In [7]:
crunch_v2['type'].unique()

array(['corporation', 'organization', 'collegeoruniversity'], dtype=object)

In [8]:
crunch_v2[crunch_v2['type']=='corporation']['type'].isna().value_counts()

False    1196107
Name: type, dtype: int64

In [9]:
crunch_v2 = crunch_v2[crunch_v2['type']=='corporation']

In [10]:
crunch_v2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1196107 entries, 0 to 1312273
Data columns (total 19 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   _id              1196107 non-null  object
 1   nb_rounds        189688 non-null   float64
 2   scraped_funding  1196107 non-null  bool
 3   total            137647 non-null   float64
 4   address          1196107 non-null  object
 5   created_at       954796 non-null   object
 6   logo             1032737 non-null  object
 7   name             1196107 non-null  object
 8   scraped_profile  1196107 non-null  float64
 9   status           1196107 non-null  object
 10  tags             1154403 non-null  object
 11  type             1196107 non-null  object
 12  founders         286173 non-null   object
 13  legal_name       214024 non-null   object
 14  phone            834221 non-null   object
 15  socials          1140840 non-null  object
 16  description      1196091 non-null  object
 17  rounds           189688 non-null   object
 18  scraped_rounds   188751 non-null   float64
dtypes: bool(1), float64(4), object(14)
memory usage: 174.5+ MB

### REMAIN WITH ALL DATA WHERE SCRAPED_FUNDING == True and SCRAPED_ROUNDS is not nan

In [11]:
crunch_v2[crunch_v2['scraped_funding']==False]['scraped_funding'].value_counts()

Series([], Name: scraped_funding, dtype: int64)

In [12]:
crunch_v2 = crunch_v2[crunch_v2['scraped_funding']==True]

In [13]:
crunch_v2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1196107 entries, 0 to 1312273
Data columns (total 19 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   _id              1196107 non-null  object
 1   nb_rounds        189688 non-null   float64
 2   scraped_funding  1196107 non-null  bool
 3   total            137647 non-null   float64
 4   address          1196107 non-null  object
 5   created_at       954796 non-null   object
 6   logo             1032737 non-null  object
 7   name             1196107 non-null  object
 8   scraped_profile  1196107 non-null  float64
 9   status           1196107 non-null  object
 10  tags             1154403 non-null  object
 11  type             1196107 non-null  object
 12  founders         286173 non-null   object
 13  legal_name       214024 non-null   object
 14  phone            834221 non-null   object
 15  socials          1140840 non-null  object
 16  description      1196091 non-null  object
 17  rounds           189688 non-null   object
 18  scraped_rounds   188751 non-null   float64
dtypes: bool(1), float64(4), object(14)
memory usage: 174.5+ MB

In [14]:
crunch_v2['scraped_rounds'].unique()

array([nan,  1.])

In [15]:
crunch_v2['scraped_rounds'].isna().value_counts()

True     1007356
False     188751
Name: scraped_rounds, dtype: int64

In [16]:
crunch_v2['scraped_rounds'].notna().value_counts()

False    1007356
True      188751
Name: scraped_rounds, dtype: int64

In [17]:
crunch_v2 = crunch_v2[crunch_v2['scraped_rounds'].notna()]

### REMAIN WITH ALL DATA WHERE SCRAPED_PROFILE == 1.0

In [18]:
crunch_v2[crunch_v2['scraped_profile']!=1.0]['scraped_profile']

Series([], Name: scraped_profile, dtype: float64)

In [19]:
crunch_v2[crunch_v2['scraped_profile']==1.0]['scraped_profile'].isna().value_counts()

False    188751
Name: scraped_profile, dtype: int64

In [20]:
crunch_v2 = crunch_v2[crunch_v2['scraped_profile']==1.0]

In [21]:
crunch_v2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 188751 entries, 13 to 1312262
Data columns (total 19 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   _id              188751 non-null  object
 1   nb_rounds        188751 non-null  float64
 2   scraped_funding  188751 non-null  bool
 3   total            136959 non-null  float64
 4   address          188751 non-null  object
 5   created_at       182124 non-null  object
 6   logo             182489 non-null  object
 7   name             188751 non-null  object
 8   scraped_profile  188751 non-null  float64
 9   status           188751 non-null  object
 10  tags             184599 non-null  object
 11  type             188751 non-null  object
 12  founders         114129 non-null  object
 13  legal_name       61511 non-null   object
 14  phone            117665 non-null  object
 15  socials          181070 non-null  object
 16  description      188750 non-null  object
 17  rounds           188751 non-null  object
 18  scraped_rounds   188751 non-null  float64
dtypes: bool(1), float64(4), object(14)
memory usage: 27.5+ MB

### LET'S SEE WHAT WE HAVE INSIDE BECAUSE NUMBERS HAVE NOT CHANGED

In [22]:
for index, colname in enumerate(crunch_v2):
    print(f"\n**The name of the column is = {colname}")
    print("--------SOME VALUES ARE:\n")
    print(crunch_v2[colname][:10])

**The name of the column is = _id
--------SOME VALUES ARE:

13     00k-e-commerce-tools
42                  z1-8982
67                      004
75            01-communique
82               alphareact
88       01games-technology
95                 01wiring
103               04-master
122                 0-6-com
124               07073-com
Name: _id, dtype: object

**The name of the column is = nb_rounds
--------SOME VALUES ARE:

13     1.0
42     2.0
67     1.0
75     3.0
82     1.0
88     1.0
95     1.0
103    2.0
122    1.0
124    1.0
Name: nb_rounds, dtype: float64

**The name of the column is = scraped_funding
--------SOME VALUES ARE:

13     True
42     True
67     True
75     True
82     True
88     True
95     True
103    True
122    True
124    True
Name: scraped_funding, dtype: bool

**The name of the column is = total
--------SOME VALUES ARE:

13              NaN
42              NaN
67              NaN
75     5.493911e+06
82              NaN
88     4.125000e+04
95     5.583161e+04
103    6.130000e+05
122    2.000000e+06
124    4.748924e+05
Name: total, dtype: float64

**The name of the column is = address
--------SOME VALUES ARE:

13     {'city': 'São Paulo', 'region': 'Sao Paulo', '...
42     {'city': 'São Paulo', 'region': 'Sao Paulo', '...
67     {'city': 'Aschaffenburg', 'region': 'Bayern', ...
75     {'city': 'Mississauga', 'region': 'Ontario', '...
82       {'city': None, 'region': None, 'country': None}
88     {'city': 'Hong Kong', 'region': 'Hong Kong Isl...
95     {'city': 'Sasso Marconi', 'region': 'Emilia-Ro...
103    {'city': 'Seoul', 'region': 'Seoul-t'ukpyolsi'...
122    {'city': 'Beijing', 'region': 'Beijing', 'coun...
124    {'city': 'Shenyang', 'region': 'Liaoning', 'co...
Name: address, dtype: object

**The name of the column is = created_at
--------SOME VALUES ARE:

13     {'$date': '2012-03-01T00:00:00Z'}
42     {'$date': '2020-04-01T00:00:00Z'}
67     {'$date': '2003-01-01T00:00:00Z'}
75     {'$date': '1992-01-01T00:00:00Z'}
82     {'$date': '2018-01-01T00:00:00Z'}
88     {'$date': '2014-01-01T00:00:00Z'}
95     {'$date': '2009-09-01T00:00:00Z'}
103    {'$date': '2015-01-01T00:00:00Z'}
122    {'$date': '2007-01-01T00:00:00Z'}
124    {'$date': '2002-07-07T00:00:00Z'}
Name: created_at, dtype: object

**The name of the column is = logo
--------SOME VALUES ARE:

13     https://res-3.cloudinary.com/crunchbase-produc...
42     https://res-4.cloudinary.com/crunchbase-produc...
67     https://res-4.cloudinary.com/crunchbase-produc...
75     https://res-3.cloudinary.com/crunchbase-produc...
82     https://res-3.cloudinary.com/crunchbase-produc...
88     https://res-1.cloudinary.com/crunchbase-produc...
95     https://res-1.cloudinary.com/crunchbase-produc...
103    https://res-2.cloudinary.com/crunchbase-produc...
122    https://res-3.cloudinary.com/crunchbase-produc...
124    https://res-3.cloudinary.com/crunchbase-produc...
Name: logo, dtype: object

**The name of the column is = name
--------SOME VALUES ARE:

13              00K E-Commerce Tools
42     01 Paynents And Business - Z1
67                               004
75                     01 Communique
82                                --
88                01Games Technology
95                          01WIRING
103                        04 Master
122                          0-6.com
124                        07073.com
Name: name, dtype: object

**The name of the column is = scraped_profile
--------SOME VALUES ARE:

13     1.0
42     1.0
67     1.0
75     1.0
82     1.0
88     1.0
95     1.0
103    1.0
122    1.0
124    1.0
Name: scraped_profile, dtype: float64

**The name of the column is = status
--------SOME VALUES ARE:

13     active
42     active
67     active
75     active
82     active
88     active
95     active
103    active
122    active
124    active
Name: status, dtype: object

**The name of the column is = tags
--------SOME VALUES ARE:

13     [E-Commerce, Information Services, Marketing, ...
42            [Banking, Financial Services, Mobile Apps]
67                                [Enterprise, Software]
75        [Customer Service, Meeting Software, Software]
82     [Analytics, Business Intelligence, Customer Se...
88     [Information Technology, Mobile Apps, Video Ga...
95                     [Electronics, Hardware, Software]
103                    [Apps, Construction, Mobile Apps]
122                       [Baby, Communities, Education]
124               [Gaming, Online Games, Online Portals]
Name: tags, dtype: object

**The name of the column is = type
--------SOME VALUES ARE:

13     corporation
42     corporation
67     corporation
75     corporation
82     corporation
88     corporation
95     corporation
103    corporation
122    corporation
124    corporation
Name: type, dtype: object

**The name of the column is = founders
--------SOME VALUES ARE:

13     [{'name': 'Cyllas Elia', 'link': 'cyllas-elia'...
42                                                   NaN
67     [{'name': 'Patrick MacKay', 'link': 'patrick-m...
75                                                   NaN
82                                                   NaN
88                                                   NaN
95     [{'name': 'Ivano Corsini', 'link': 'ivano-cors...
103                                                  NaN
122                                                  NaN
124                                                  NaN
Name: founders, dtype: object

**The name of the column is = legal_name
--------SOME VALUES ARE:

13     00K Tecnologia da Informação Limitada
42                     01 International, LLC
67                                  004 GmbH
75                                       NaN
82                                       NaN
88                                       NaN
95                                       NaN
103                                      NaN
122                                      NaN
124                                      NaN
Name: legal_name, dtype: object

**The name of the column is = phone
--------SOME VALUES ARE:

13        +55 11 4328-0888
42         +55 11 42000024
67     +49 6021 453 48 - 0
75           (905)795-2888
82                     NaN
88                     NaN
95        +39 051 678 2511
103                    NaN
122        86 10 6440 8997
124            24-22845391
Name: phone, dtype: object

**The name of the column is = socials
--------SOME VALUES ARE:

13     {'website': 'http://www.00k.com.br/', 'faceboo...
42     {'website': 'https://z1.app', 'linkedin': 'htt...
67     {'website': 'http://004gmbh.de', 'facebook': '...
75     {'website': 'http://www.01com.com', 'facebook'...
82                                                   NaN
88                 {'website': 'http://www.01games.hk/'}
95     {'website': 'http://www.01wiring.com/', 'faceb...
103    {'website': 'https://www.04master.com/market/m...
122                    {'website': 'http://www.0-6.com'}
124                 {'website': 'http://www.07073.com/'}
Name: socials, dtype: object

**The name of the column is = description
--------SOME VALUES ARE:

13     00K develops e-commerce solutions for online p...
42     Teen Banking is a digital banking app made for...
67     004 GmbH is a privately owned small to medium ...
75     01 Communique is here to provide you with the ...
82                                                   NaN
88     01Games Technology develops mini games for soc...
95     01WIRING produces electrical and electronic sy...
103                      04 Master is a construction app
122    0-6.com is an online baby education community ...
124    07073 is an online gaming and game review plat...
Name: description, dtype: object

**The name of the column is = rounds
--------SOME VALUES ARE:

13     [{'name': 'Convertible Note - 00K E-Commerce T...
42     [{'name': 'Seed Round - 01 Paynents And Busine...
67     [{'name': 'Venture Round - 004', 'link': '004-...
75     [{'name': 'Post-IPO Equity - 01 Communique', '...
82     [{'name': 'Pre Seed Round - --', 'link': 'alph...
88     [{'name': 'Seed Round - 01Games Technology', '...
95     [{'name': 'Grant - 01WIRING', 'link': '01wirin...
103    [{'name': 'Series A - 04 Master', 'link': '04-...
122    [{'name': 'Series A - 0-6.com', 'link': '0-6-c...
124    [{'name': 'Angel Round - 07073.com', 'link': '...
Name: rounds, dtype: object

**The name of the column is = scraped_rounds
--------SOME VALUES ARE:

13     1.0
42     1.0
67     1.0
75     1.0
82     1.0
88     1.0
95     1.0
103    1.0
122    1.0
124    1.0
Name: scraped_rounds, dtype: float64

In [23]:
crunch_v2.loc[13,:]

_id                                             00k-e-commerce-tools
nb_rounds                                                        1.0
scraped_funding                                                 True
total                                                            NaN
address            {'city': 'São Paulo', 'region': 'Sao Paulo', '...
created_at                         {'$date': '2012-03-01T00:00:00Z'}
logo               https://res-3.cloudinary.com/crunchbase-produc...
name                                            00K E-Commerce Tools
scraped_profile                                                  1.0
status                                                        active
tags               [E-Commerce, Information Services, Marketing, ...
type                                                     corporation
founders           [{'name': 'Cyllas Elia', 'link': 'cyllas-elia'...
legal_name                     00K Tecnologia da Informação Limitada
phone                                               +55 11 4328-0888
socials            {'website': 'http://www.00k.com.br/', 'faceboo...
description        00K develops e-commerce solutions for online p...
rounds             [{'name': 'Convertible Note - 00K E-Commerce T...
scraped_rounds                                                   1.0
Name: 13, dtype: object

In [24]:
crunch_v2['rounds'][13]

[{'name': 'Convertible Note - 00K E-Commerce Tools',
  'link': '00k-e-commerce-tools-convertible-note--f638bf3e',
  'leads': [],
  'investors': [{'investor': {'name': 'Mercado Libre Fund',
     'link': 'mercado-libre-s-fund',
     'type': 'organization'},
    'partners': []}],
  'created_at': {'$date': '2015-08-01T00:00:00Z'},
  'pre_money': None,
  'raised': None,
  'type': 'convertible_note'}]

In [25]:
for index, colname in enumerate(crunch_v2.loc[:10,'_id':'total']):
    print(f"\n**The name of the column is = {colname}")
    print("--------UNIQUE VALUES ARE:\n")
    print(crunch_v2[colname].unique())

**The name of the column is = _id
--------UNIQUE VALUES ARE:

['00k-e-commerce-tools' 'z1-8982' '004' ... 'booshaka' 'madeforgoods'
 '%E5%81%9C%E8%BB%8A%E5%A4%A7%E8%81%B2%E5%85%AC-pklot-inc']

**The name of the column is = nb_rounds
--------UNIQUE VALUES ARE:

[ 1.  2.  3.  8.  4.  5.  6.  7. 13. 12. 15. 10.  9. 11. 16. 14. 17. 20.
 25. 41. 23. 18. 24. 22. 19. 21. 33. 34.  0. 31. 32. 27. 30. 35. 28. 29.]

**The name of the column is = scraped_funding
--------UNIQUE VALUES ARE:

[ True]

**The name of the column is = total
--------UNIQUE VALUES ARE:

[             nan 5493911.47947403   41250.         ...  451395.38161586
 4921780.02627114   39422.07241835]

In [26]:
crunch_v2['address'][13]

{'city': 'São Paulo', 'region': 'Sao Paulo', 'country': 'Brazil'}

In [28]:
type(crunch_v2['address'][13])

dict

#### Let's continue with the rest

In [29]:
columns_to_drop = ['description',
                   'founders','_id', 'logo','scraped_funding','scraped_profile','socials', 
                   'scraped_rounds', 'status', 'type', 'legal_name', 'name', 'phone']

In [30]:
crunch_v2 = crunch_v2.drop(columns=columns_to_drop)

In [31]:
crunch_v2.columns

Index(['nb_rounds', 'total', 'address', 'created_at', 'tags', 'rounds'], dtype='object')

In [32]:
crunch_v2

,nb_rounds,total,address,created_at,tags,rounds
13,1.0,NaN,"{'city': 'São Paulo', 'region': 'Sao Paulo', '...",{'$date': '2012-03-01T00:00:00Z'},"[E-Commerce, Information Services, Marketing, ...",[{'name': 'Convertible Note - 00K E-Commerce T...
42,2.0,NaN,"{'city': 'São Paulo', 'region': 'Sao Paulo', '...",{'$date': '2020-04-01T00:00:00Z'},"[Banking, Financial Services, Mobile Apps]",[{'name': 'Seed Round - 01 Paynents And Busine...
67,1.0,NaN,"{'city': 'Aschaffenburg', 'region': 'Bayern', ...",{'$date': '2003-01-01T00:00:00Z'},"[Enterprise, Software]","[{'name': 'Venture Round - 004', 'link': '004-..."
75,3.0,5.493911e+06,"{'city': 'Mississauga', 'region': 'Ontario', '...",{'$date': '1992-01-01T00:00:00Z'},"[Customer Service, Meeting Software, Software]","[{'name': 'Post-IPO Equity - 01 Communique', '..."
82,1.0,NaN,"{'city': None, 'region': None, 'country': None}",{'$date': '2018-01-01T00:00:00Z'},"[Analytics, Business Intelligence, Customer Se...","[{'name': 'Pre Seed Round - --', 'link': 'alph..."
...,...,...,...,...,...,...
1312185,3.0,4.921780e+06,"{'city': 'Nantong', 'region': 'Jiangsu', 'coun...",{'$date': '2013-12-10T00:00:00Z'},"[Enterprise, Fashion, Supply Chain Management]","[{'name': 'Series B - ZZL.AI', 'link': 'zzl-ai..."
1312192,1.0,3.942207e+04,"{'city': 'Moscow', 'region': 'Moscow City', 'c...",NaN,[Travel],"[{'name': 'Seed Round - Сhabooka', 'link': 'ch..."
1312218,2.0,3.000000e+06,"{'city': 'Redwood City', 'region': 'California...",{'$date': '1990-11-07T00:00:00Z'},"[Advertising, Marketing Automation]","[{'name': 'Convertible Note - حسن مهجر', 'link..."
1312260,1.0,3.000000e+06,"{'city': 'Shanghai', 'region': 'Shanghai', 'co...",{'$date': '2016-01-01T00:00:00Z'},"[E-Commerce, SaaS, Software]","[{'name': 'Series A - 客湖KEHU', 'link': 'madefo..."
1312262,1.0,6.500000e+04,"{'city': 'Taipei', 'region': 'T'ai-pei', 'coun...",{'$date': '2015-06-11T00:00:00Z'},"[Apps, Information Technology, Point of Sale]","[{'name': 'Angel Round - 停車大聲公 PKLOT Inc', 'li..."

In [33]:
crunch_v2['nb_rounds']>0

13         True
42         True
67         True
75         True
82         True
           ...
1312185    True
1312192    True
1312218    True
1312260    True
1312262    True
Name: nb_rounds, Length: 188751, dtype: bool

### WE SEE IN THE INFO THAT TAGS IS THE LEAST NON-NULL, WILL FILTER TO HAVE ALL VALID

In [34]:
crunch_v2['tags'].isna().value_counts()

False    184599
True       4152
Name: tags, dtype: int64

In [35]:
crunch_v2['tags'].notna().value_counts()

True     184599
False      4152
Name: tags, dtype: int64

In [36]:
crunch_v2 = crunch_v2[crunch_v2['tags'].notna()]

In [37]:
crunch_v2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 184599 entries, 13 to 1312262
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   nb_rounds   184599 non-null  float64
 1   total       134763 non-null  float64
 2   address     184599 non-null  object
 3   created_at  178914 non-null  object
 4   tags        184599 non-null  object
 5   rounds      184599 non-null  object
dtypes: float64(2), object(4)
memory usage: 9.9+ MB

In [38]:
print(type(crunch_v2[crunch_v2['rounds'].notna()]['rounds'].iloc[13][0]))

<class 'dict'>

In [39]:
crunch_v2[crunch_v2['rounds'].notna()]['rounds'].iloc[13][0]

{'name': 'Angel Round - 100 Billion Plus',
 'link': '100-billion-plus-angel--8fbb114c',
 'leads': [{'name': 'Next Capital',
   'link': 'next-capital-87a9',
   'type': 'organization',
   'description': 'Next Capital focuses on projects of new consumer retail, new finance, and internet innovation sector.'}],
 'investors': [{'investor': {'name': 'Next Capital',
    'link': 'next-capital-87a9',
    'type': 'organization'},
   'partners': []}],
 'created_at': {'$date': '2019-06-13T00:00:00Z'},
 'pre_money': None,
 'raised': None,
 'type': 'angel'}

In [40]:
crunch_v2.head()

,nb_rounds,total,address,created_at,tags,rounds
13,1.0,NaN,"{'city': 'São Paulo', 'region': 'Sao Paulo', '...",{'$date': '2012-03-01T00:00:00Z'},"[E-Commerce, Information Services, Marketing, ...",[{'name': 'Convertible Note - 00K E-Commerce T...
42,2.0,NaN,"{'city': 'São Paulo', 'region': 'Sao Paulo', '...",{'$date': '2020-04-01T00:00:00Z'},"[Banking, Financial Services, Mobile Apps]",[{'name': 'Seed Round - 01 Paynents And Busine...
67,1.0,NaN,"{'city': 'Aschaffenburg', 'region': 'Bayern', ...",{'$date': '2003-01-01T00:00:00Z'},"[Enterprise, Software]","[{'name': 'Venture Round - 004', 'link': '004-..."
75,3.0,5.493911e+06,"{'city': 'Mississauga', 'region': 'Ontario', '...",{'$date': '1992-01-01T00:00:00Z'},"[Customer Service, Meeting Software, Software]","[{'name': 'Post-IPO Equity - 01 Communique', '..."
82,1.0,NaN,"{'city': None, 'region': None, 'country': None}",{'$date': '2018-01-01T00:00:00Z'},"[Analytics, Business Intelligence, Customer Se...","[{'name': 'Pre Seed Round - --', 'link': 'alph..."

In [41]:
test = crunch_v2['rounds'][:10].apply(lambda x: x[0]['raised'])

In [42]:
test

13              NaN
42              NaN
67              NaN
75     2.000000e+06
82              NaN
88     4.125000e+04
95     5.583161e+04
103    6.130000e+05
122    2.000000e+06
124    4.748924e+05
Name: rounds, dtype: float64

In [43]:
crunch_v2['rounds'].iloc[13][0]

{'name': 'Angel Round - 100 Billion Plus',
 'link': '100-billion-plus-angel--8fbb114c',
 'leads': [{'name': 'Next Capital',
   'link': 'next-capital-87a9',
   'type': 'organization',
   'description': 'Next Capital focuses on projects of new consumer retail, new finance, and internet innovation sector.'}],
 'investors': [{'investor': {'name': 'Next Capital',
    'link': 'next-capital-87a9',
    'type': 'organization'},
   'partners': []}],
 'created_at': {'$date': '2019-06-13T00:00:00Z'},
 'pre_money': None,
 'raised': None,
 'type': 'angel'}

In [44]:
crunch_v2['rounds'].iloc[13][0]['investors']

[{'investor': {'name': 'Next Capital',
   'link': 'next-capital-87a9',
   'type': 'organization'},
  'partners': []}]

In [45]:
crunch_v2['rounds'].iloc[13][0]['created_at']['$date']

'2019-06-13T00:00:00Z'

In [46]:
type(crunch_v2['rounds'].iloc[13][0]['created_at']['$date'])

str

## ALL OF THESE TESTS WHERE FOR ONE RAISED, LET'S SEE MORE THAN 1

In [47]:
crunch_v2['rounds'][75]

[{'name': 'Post-IPO Equity - 01 Communique',
  'link': '01-communique-post-ipo-equity--fc72de43',
  'leads': [],
  'investors': [{'investor': {'name': 'Richardson GMP',
     'link': 'richardson-gmp',
     'type': 'organization'},
    'partners': []}],
  'created_at': {'$date': '2018-07-24T00:00:00Z'},
  'pre_money': None,
  'raised': 2000000,
  'type': 'post_ipo_equity'},
 {'name': 'Post-IPO Equity - 01 Communique',
  'link': '01-communique-post-ipo-equity--3c799183',
  'leads': [{'name': 'Clarus Securities',
    'link': 'clarus-securities',
    'type': 'organization',
    'description': 'Once an opportunity is identified, we seek to become the dominant trader in the equity by employing a uniquely focused concentration.'}],
  'investors': [{'investor': {'name': 'Paradigm Capital',
     'link': 'paradigm-capital',
     'type': 'organization'},
    'partners': []},
   {'investor': {'name': 'NCP Northland Capital Partners',
     'link': 'ncp-northland-capital-partners',
     'type': 'organization'},
    'partners': []},
   {'investor': {'name': 'MGI Securities',
     'link': 'mgi-securities',
     'type': 'organization'},
    'partners': []},
   {'investor': {'name': 'Clarus Securities',
     'link': 'clarus-securities',
     'type': 'organization'},
    'partners': []}],
  'created_at': {'$date': '2012-08-16T00:00:00Z'},
  'pre_money': None,
  'raised': 3493911.4794740295,
  'type': 'post_ipo_equity'},
 {'name': 'Venture Round - 01 Communique',
  'link': '01-communique-series-unknown--b7e82cea',
  'leads': [],
  'investors': [{'investor': {'name': 'BEST Funds',
     'link': 'best-funds',
     'type': 'organization'},
    'partners': []}],
  'created_at': {'$date': '1996-01-01T00:00:00Z'},
  'pre_money': None,
  'raised': None,
  'type': 'series_unknown'}]

In [48]:
len(crunch_v2['rounds'][75])

3

In [49]:
crunch_v2['rounds'][75][0]

{'name': 'Post-IPO Equity - 01 Communique',
 'link': '01-communique-post-ipo-equity--fc72de43',
 'leads': [],
 'investors': [{'investor': {'name': 'Richardson GMP',
    'link': 'richardson-gmp',
    'type': 'organization'},
   'partners': []}],
 'created_at': {'$date': '2018-07-24T00:00:00Z'},
 'pre_money': None,
 'raised': 2000000,
 'type': 'post_ipo_equity'}

In [50]:
crunch_v2['rounds'][75][1]

{'name': 'Post-IPO Equity - 01 Communique',
 'link': '01-communique-post-ipo-equity--3c799183',
 'leads': [{'name': 'Clarus Securities',
   'link': 'clarus-securities',
   'type': 'organization',
   'description': 'Once an opportunity is identified, we seek to become the dominant trader in the equity by employing a uniquely focused concentration.'}],
 'investors': [{'investor': {'name': 'Paradigm Capital',
    'link': 'paradigm-capital',
    'type': 'organization'},
   'partners': []},
  {'investor': {'name': 'NCP Northland Capital Partners',
    'link': 'ncp-northland-capital-partners',
    'type': 'organization'},
   'partners': []},
  {'investor': {'name': 'MGI Securities',
    'link': 'mgi-securities',
    'type': 'organization'},
   'partners': []},
  {'investor': {'name': 'Clarus Securities',
    'link': 'clarus-securities',
    'type': 'organization'},
   'partners': []}],
 'created_at': {'$date': '2012-08-16T00:00:00Z'},
 'pre_money': None,
 'raised': 3493911.4794740295,
 'type': 'post_ipo_equity'}

In [51]:
crunch_v2['rounds'][75][2]

{'name': 'Venture Round - 01 Communique',
 'link': '01-communique-series-unknown--b7e82cea',
 'leads': [],
 'investors': [{'investor': {'name': 'BEST Funds',
    'link': 'best-funds',
    'type': 'organization'},
   'partners': []}],
 'created_at': {'$date': '1996-01-01T00:00:00Z'},
 'pre_money': None,
 'raised': None,
 'type': 'series_unknown'}

In [52]:
_address = 'dict'
_created_at = 'dict'
_tags = 'list'
_founders = 'list'
_socials = 'dict'

In [53]:
crunch_v2.columns

Index(['nb_rounds', 'total', 'address', 'created_at', 'tags', 'rounds'], dtype='object')

In [54]:
crunch_v2['address'][13]['country']

'Brazil'

In [55]:
crunch_v2['country'] = crunch_v2['address'].apply(lambda x: x['country'])

/var/folders/fg/0mh3ddwn6ls4kf4146hxrxb00000gn/T/ipykernel_6910/743314162.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crunch_v2['country'] = crunch_v2['address'].apply(lambda x: x['country'])

In [56]:
crunch_v2['country'].isna().value_counts()

False    183039
True       1560
Name: country, dtype: int64

In [57]:
crunch_v2[crunch_v2['country'].isna()]

,nb_rounds,total,address,created_at,tags,rounds,country
82,1.0,NaN,"{'city': None, 'region': None, 'country': None}",{'$date': '2018-01-01T00:00:00Z'},"[Analytics, Business Intelligence, Customer Se...","[{'name': 'Pre Seed Round - --', 'link': 'alph...",None
757,1.0,NaN,"{'city': None, 'region': None, 'country': None}",NaN,"[EdTech, Education]","[{'name': 'Angel Round - 115 network disks', '...",None
1785,1.0,NaN,"{'city': None, 'region': None, 'country': None}",{'$date': '2019-01-01T00:00:00Z'},[Artificial Intelligence],"[{'name': 'Seed Round - 1AI', 'link': '1ai-see...",None
2455,1.0,NaN,"{'city': None, 'region': None, 'country': None}",NaN,[Accounting],[{'name': 'Seed Round - 1st Source Consulting'...,None
5761,1.0,5000.0,"{'city': None, 'region': None, 'country': None}",{'$date': '2013-01-01T00:00:00Z'},"[3D Printing, Jewelry, Manufacturing]","[{'name': 'Seed Round - 3DJewell', 'link': '3d...",None
...,...,...,...,...,...,...,...
1307851,1.0,NaN,"{'city': None, 'region': None, 'country': None}",NaN,"[Building Material, Real Estate]","[{'name': 'Seed Round - Zimcar', 'link': 'zimc...",None
1308678,1.0,NaN,"{'city': None, 'region': None, 'country': None}",{'$date': '2019-01-01T00:00:00Z'},[Health Care],"[{'name': 'Seed Round - ZiRO', 'link': 'ziro-s...",None
1310593,1.0,NaN,"{'city': None, 'region': None, 'country': None}",{'$date': '2020-03-01T00:00:00Z'},"[Blockchain, Financial Services]","[{'name': 'Seed Round - Zqanlink', 'link': 'zq...",None
1310836,1.0,376000000.0,"{'city': None, 'region': None, 'country': None}",{'$date': '2003-01-01T00:00:00Z'},"[Electronics, Telecommunications]",[{'name': 'Venture Round - ZTE Microelectronic...,None
1311412,1.0,NaN,"{'city': None, 'region': None, 'country': None}",NaN,[Content Creators],"[{'name': 'Seed Round - Zuri Media', 'link': '...",None

### 1560 COMPANIES DON'T HAVE VALUES ON COUNTRIES, SO WILL REMOVE THEM AND REMOVE THE COLUMN

In [58]:
crunch_v2 = crunch_v2[crunch_v2['country'].notna()]

In [59]:
crunch_v2 = crunch_v2.drop(columns=['address'])

In [60]:
crunch_v2

,nb_rounds,total,created_at,tags,rounds,country
13,1.0,NaN,{'$date': '2012-03-01T00:00:00Z'},"[E-Commerce, Information Services, Marketing, ...",[{'name': 'Convertible Note - 00K E-Commerce T...,Brazil
42,2.0,NaN,{'$date': '2020-04-01T00:00:00Z'},"[Banking, Financial Services, Mobile Apps]",[{'name': 'Seed Round - 01 Paynents And Busine...,Brazil
67,1.0,NaN,{'$date': '2003-01-01T00:00:00Z'},"[Enterprise, Software]","[{'name': 'Venture Round - 004', 'link': '004-...",Germany
75,3.0,5.493911e+06,{'$date': '1992-01-01T00:00:00Z'},"[Customer Service, Meeting Software, Software]","[{'name': 'Post-IPO Equity - 01 Communique', '...",Canada
88,1.0,4.125000e+04,{'$date': '2014-01-01T00:00:00Z'},"[Information Technology, Mobile Apps, Video Ga...","[{'name': 'Seed Round - 01Games Technology', '...",Hong Kong
...,...,...,...,...,...,...
1312185,3.0,4.921780e+06,{'$date': '2013-12-10T00:00:00Z'},"[Enterprise, Fashion, Supply Chain Management]","[{'name': 'Series B - ZZL.AI', 'link': 'zzl-ai...",China
1312192,1.0,3.942207e+04,NaN,[Travel],"[{'name': 'Seed Round - Сhabooka', 'link': 'ch...",Russian Federation
1312218,2.0,3.000000e+06,{'$date': '1990-11-07T00:00:00Z'},"[Advertising, Marketing Automation]","[{'name': 'Convertible Note - حسن مهجر', 'link...",United States
1312260,1.0,3.000000e+06,{'$date': '2016-01-01T00:00:00Z'},"[E-Commerce, SaaS, Software]","[{'name': 'Series A - 客湖KEHU', 'link': 'madefo...",China
1312262,1.0,6.500000e+04,{'$date': '2015-06-11T00:00:00Z'},"[Apps, Information Technology, Point of Sale]","[{'name': 'Angel Round - 停車大聲公 PKLOT Inc', 'li...",Taiwan

In [61]:
crunch_v2['created_at'][13]['$date']

'2012-03-01T00:00:00Z'

In [62]:
crunch_v2

,nb_rounds,total,created_at,tags,rounds,country
13,1.0,NaN,{'$date': '2012-03-01T00:00:00Z'},"[E-Commerce, Information Services, Marketing, ...",[{'name': 'Convertible Note - 00K E-Commerce T...,Brazil
42,2.0,NaN,{'$date': '2020-04-01T00:00:00Z'},"[Banking, Financial Services, Mobile Apps]",[{'name': 'Seed Round - 01 Paynents And Busine...,Brazil
67,1.0,NaN,{'$date': '2003-01-01T00:00:00Z'},"[Enterprise, Software]","[{'name': 'Venture Round - 004', 'link': '004-...",Germany
75,3.0,5.493911e+06,{'$date': '1992-01-01T00:00:00Z'},"[Customer Service, Meeting Software, Software]","[{'name': 'Post-IPO Equity - 01 Communique', '...",Canada
88,1.0,4.125000e+04,{'$date': '2014-01-01T00:00:00Z'},"[Information Technology, Mobile Apps, Video Ga...","[{'name': 'Seed Round - 01Games Technology', '...",Hong Kong
...,...,...,...,...,...,...
1312185,3.0,4.921780e+06,{'$date': '2013-12-10T00:00:00Z'},"[Enterprise, Fashion, Supply Chain Management]","[{'name': 'Series B - ZZL.AI', 'link': 'zzl-ai...",China
1312192,1.0,3.942207e+04,NaN,[Travel],"[{'name': 'Seed Round - Сhabooka', 'link': 'ch...",Russian Federation
1312218,2.0,3.000000e+06,{'$date': '1990-11-07T00:00:00Z'},"[Advertising, Marketing Automation]","[{'name': 'Convertible Note - حسن مهجر', 'link...",United States
1312260,1.0,3.000000e+06,{'$date': '2016-01-01T00:00:00Z'},"[E-Commerce, SaaS, Software]","[{'name': 'Series A - 客湖KEHU', 'link': 'madefo...",China
1312262,1.0,6.500000e+04,{'$date': '2015-06-11T00:00:00Z'},"[Apps, Information Technology, Point of Sale]","[{'name': 'Angel Round - 停車大聲公 PKLOT Inc', 'li...",Taiwan

In [63]:
crunch_v2['created_at'].isna().value_counts()

False    178063
True       4976
Name: created_at, dtype: int64

### WE WILL CLEAN created_at columns and remove all nan's

In [64]:
crunch_v2 = crunch_v2[crunch_v2['created_at'].notna()]

In [65]:
crunch_v2['Creation Date'] =crunch_v2['created_at'].apply(lambda x: x['$date'])

/var/folders/fg/0mh3ddwn6ls4kf4146hxrxb00000gn/T/ipykernel_6910/797464646.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crunch_v2['Creation Date'] =crunch_v2['created_at'].apply(lambda x: x['$date'])

In [66]:
crunch_v2 = crunch_v2.drop(columns=['created_at'])

In [67]:
crunch_v2['tags'].isna().value_counts()

False    178063
Name: tags, dtype: int64

In [200]:
crunch_v2['rounds'][75][2]['created_at']['$date'][:4]

'1996'

## CLEAN ROUNDS EXTRACT raised, type, and date

In [180]:
def clean_rounds(x):
    tmp = {'raised': [], 'type': [], 'date_round': []}
    for ele in reversed(x):
        tmp['raised'].append(ele['raised'])
        tmp['type'].append(ele['type'])
        tmp['date_round'].append(ele['created_at']['$date'])
    
    return tmp

In [185]:
crunch_v2['rounds_cleaned']=crunch_v2['rounds'].apply(clean_rounds)

In [194]:
crunch_v2['rounds_cleaned'][75]

{'raised': [None, 3493911.4794740295, 2000000],
 'type': ['series_unknown', 'post_ipo_equity', 'post_ipo_equity'],
 'date_round': ['1996-01-01T00:00:00Z',
  '2012-08-16T00:00:00Z',
  '2018-07-24T00:00:00Z']}

In [202]:
crunch_v2

,nb_rounds,total,tags,rounds,country,Creation Date,rounds_cleaned
13,1.0,NaN,"[E-Commerce, Information Services, Marketing, ...",[{'name': 'Convertible Note - 00K E-Commerce T...,Brazil,2012-03-01T00:00:00Z,"{'raised': [None], 'type': ['convertible_note'..."
42,2.0,NaN,"[Banking, Financial Services, Mobile Apps]",[{'name': 'Seed Round - 01 Paynents And Busine...,Brazil,2020-04-01T00:00:00Z,"{'raised': [None, None], 'type': ['pre_seed', ..."
67,1.0,NaN,"[Enterprise, Software]","[{'name': 'Venture Round - 004', 'link': '004-...",Germany,2003-01-01T00:00:00Z,"{'raised': [None], 'type': ['series_unknown'],..."
75,3.0,5.493911e+06,"[Customer Service, Meeting Software, Software]","[{'name': 'Post-IPO Equity - 01 Communique', '...",Canada,1992-01-01T00:00:00Z,"{'raised': [None, 3493911.4794740295, 2000000]..."
88,1.0,4.125000e+04,"[Information Technology, Mobile Apps, Video Ga...","[{'name': 'Seed Round - 01Games Technology', '...",Hong Kong,2014-01-01T00:00:00Z,"{'raised': [41250], 'type': ['seed'], 'date_ro..."
...,...,...,...,...,...,...,...
1312184,1.0,4.513954e+05,"[3D Printing, Consumer Electronics, Manufactur...","[{'name': 'Venture Round - Zyyx 3D Printer', '...",Sweden,2013-01-01T00:00:00Z,"{'raised': [451395.3816158623], 'type': ['seri..."
1312185,3.0,4.921780e+06,"[Enterprise, Fashion, Supply Chain Management]","[{'name': 'Series B - ZZL.AI', 'link': 'zzl-ai...",China,2013-12-10T00:00:00Z,"{'raised': [483655.4290402519, 1527530.7633239..."
1312218,2.0,3.000000e+06,"[Advertising, Marketing Automation]","[{'name': 'Convertible Note - حسن مهجر', 'link...",United States,1990-11-07T00:00:00Z,"{'raised': [1000000, 2000000], 'type': ['seed'..."
1312260,1.0,3.000000e+06,"[E-Commerce, SaaS, Software]","[{'name': 'Series A - 客湖KEHU', 'link': 'madefo...",China,2016-01-01T00:00:00Z,"{'raised': [3000000], 'type': ['series_a'], 'd..."
1312262,1.0,6.500000e+04,"[Apps, Information Technology, Point of Sale]","[{'name': 'Angel Round - 停車大聲公 PKLOT Inc', 'li...",Taiwan,2015-06-11T00:00:00Z,"{'raised': [65000], 'type': ['angel'], 'date_r..."

## NOW, CLEANING INDUSTRIES

In [203]:
    total_sectors_n_industries = {'Education': ['Secondary Education',
  'Children',
  'E-Learning',
  'Universities',
  'Charter Schools',
  'Corporate Training',
  'Education',
  'Tutoring',
  'Higher Education',
  'Vocational Education',
  'Primary Education',
  'EdTech',
  'Continuing Education',
  'STEM Education',
  'Textbook',
  'EdTech',
  'Ediscovery',
  'College Recruiting'],
 'Business_Products_And_Services': ['Office Administration',
  'Social Media Marketing',
  'Assisted Living',
  'Commercial',
  'Price Comparison',
  'Local Advertising',
  'Social Impact',
  'Shipping Broker',
  'Charity',
  'Call Center',
  'Lead Generation',
  'Career Planning',
  'Enterprise',
  'Transaction Processing',
  'Information Services',
  'Laundry and Dry-cleaning',
  'Market Research',
  'Brand Marketing',
  'Freelance',
  'Translation Service',
  'Service Industry',
  'Local',
  'Subscription Service',
  'Supply Chain Management',
  'Loyalty Programs',
  'Contact Management',
  'Creative Agency',
  'Association',
  'Wholesale',
  'Franchise',
  'Social Media Management',
  'Warehousing',
  'B2C',
  'Coworking',
  'CRM',
  'Business Travel',
  'Management Consulting',
  'Direct Sales',
  'Small and Medium Businesses',
  'Virtual Workforce',
  'Facility Management',
  'Consulting',
  'Email Marketing',
  'Marketing',
  'Ticketing',
  'Reservations',
  'Trade Shows',
  'Legal',
  'Self-Storage',
  'Public Relations',
  'Customer Service',
  'Local Business',
  'B2B',
  'Non Profit',
  'Accounting',
  'Outsourcing',
  'Alumni',
  'Interior Design',
  'Business Development',
  'Lead Management',
  'Advice',
  'Procurement',
  'Knowledge Management',
  'Innovation Management',
  'Digital Marketing',
  'Intellectual Property',
  'Sales',
  'Quality Assurance',
  'Product Management',
  'Billing',
  'Professional Services',
  'Social Entrepreneurship',
  'Product Research',
  'Facilities Support Services',
  'Collection Agency',
  'Risk_And_Security',
  'Real_Estate',
  'Incubators',
  'Commercial Lending',
  'Penetration Testing'],
 'Software': ['Consumer Software',
  'Meeting Software',
  'IaaS',
  'Product Design',
  'Virtualization',
  'Industrial Automation',
  'Application Specific Integrated Circuit (ASIC)',
  'Management Information Systems',
  'Document Management',
  'Affiliate Marketing',
  'Enterprise Applications',
  'Web Development',
  'Project Management',
  'Domain Registrar',
  'Console Games',
  'Graphic Design',
  'CivicTech',
  'Desktop Apps',
  'PC Games',
  'Web Design',
  'Email',
  'Industrial Design',
  'Legal Tech',
  'Foundries',
  'Direct Marketing',
  'Big Data',
  '3D Technology',
  'Developer APIs',
  'Developer Tools',
  'CMS',
  'Video Editing',
  'Information and Communications Technology (ICT)',
  'PaaS',
  'Web Hosting',
  'Business Intelligence',
  'Operating Systems',
  'Data Center',
  'Video Games',
  'Embedded Software',
  'Application Performance Management',
  'Software Engineering',
  'Enterprise Resource Planning (ERP)',
  'Software',
  'Linux',
  'MMO Games',
  'A/B Testing',
  'Cloud Management',
  'Task Management',
  'Reading Apps',
  'UX Design',
  'Electronic Design Automation (EDA)',
  'Micro Lending',
  'Cloud Data Services',
  'Marketing Automation',
  'Cloud Storage',
  'Collaboration',
  'Data Mining',
  'Data Storage',
  'Information Technology',
  'Photo Editing',
  'Flash Storage',
  'Online Games',
  'File Sharing',
  'Presentation Software',
  'Cloud Infrastructure',
  'Database',
  'SaaS',
  'Data Center Automation',
  'Scheduling',
  'Sales Automation',
  'Cloud Security',
  'Developer Platform',
  'Industrial Engineering',
  'Cloud Computing',
  'Enterprise Software',
  'Archiving Service',
  'Business Information Systems',
  'Data Visualization',
  'Data Integration',
  'E-Signature',
  'E-Commerce Platforms',
  'Open Source',
  'Serious Games',
  'Productivity Tools',
  'Usability Testing',
  'Vertical Search',
  'Analytics',
  'IT Management',
  'Embedded Systems',
  'App Discovery',
  'Computer_Hardware_And_Services',
  'DSP',
  'Twitter',
  'Architecture',
  'Drone Management',
  'Industrial',
  '3D Printing',
  'WebOS',
  'DRM',
  'GPU',
  'Spam Filtering',
  'Content Syndication'],
 'Media_Traditional': ['Presentations',
  'News',
  'Photography',
  'Ad Network',
  'Radio',
  'Internet Radio',
  'Journalism',
  'Podcast',
  'Ad Server',
  'Celebrity',
  'EBooks',
  'Music Education',
  'Comics',
  'Outdoor Advertising',
  'Ad Exchange',
  'Art',
  'Ad Retargeting',
  'Ad Targeting',
  'Digital Entertainment',
  'TV Production',
  'Advertising',
  'Animation',
  'Independent Music',
  'Broadcasting',
  'Blogging Platforms',
  'Music Venues',
  'Advertising Platforms',
  'TV',
  'Music',
  'Music Streaming',
  'Publishing',
  'Fantasy Sports',
  'Politics',
  'Film',
  'Concerts',
  'Film Distribution',
  'Guides',
  'Film Production',
  'Media and Entertainment',
  'Digital Media',
  'Music Label',
  'Performing Arts',
  'Television',
  'Audiobooks',
  'Advertising',
  'Newspapers',
  'Television'],
 'Agriculture': ['Fruit',
  'Farmers Market',
  'Agriculture',
  'Animal Feed',
  'Aquaculture',
  'Timber',
  'AgTech',
  'Livestock',
  'Mining Technology',
  'Hydroponics',
  'Forestry',
  'Farming',
  'Cannabis',
  'Horticulture',
  'Mining',
  'Organic',
  'farming'],
 'Transportation': ['Car Sharing',
  'Logistics',
  'Sailing',
  'Air Transportation',
  'Shipping',
  'Diving',
  'Space Travel',
  'Water Transportation',
  'Parking',
  'Ride Sharing',
  'Travel',
  'Delivery',
  'Delivery Service',
  'Marine Transportation',
  'Autonomous Vehicles',
  'Taxi Service',
  'Fleet Management',
  'Automotive',
  'Same Day Delivery',
  'Last Mile Transportation',
  'Travel Agency',
  'In-Flight Entertainment',
  'Public Transportation',
  'Adventure Travel',
  'Tour Operator',
  'Electric Vehicle',
  'Transportation',
  'Railroad',
  'Courier Service',
  'Freight Service',
  'Recreational Vehicles',
  'Ports and Harbors',
  'Vending and Concessions',
  'Limousine Service',
  'Ferry Service'],
 'Healthcare': ['Veterinary',
  'Electronic Health Record (EHR)',
  'Pharmaceutical',
  'Genetics',
  'Neuroscience',
  'Biotechnology',
  'Quantified Self',
  'Elderly',
  'Physical Therapy',
  'Health',
  'Health Care',
  'Biopharma',
  'Child Care',
  'Social Assistance',
  'Life Science',
  'Medical',
  'Clinical Trials',
  'Bioinformatics',
  'Hospital',
  'Rehabilitation',
  'Wellness',
  'Alternative Medicine',
  'Health Diagnostics',
  'Elder Care',
  'Medical Professionals',
  'Psychology',
  'Mental Health',
  'Hotel',
  'Emergency Medicine',
  'Fitness',
  'Home Health Care',
  'Dental',
  'Hospitality',
  'Personal Health',
  'Cosmetic Surgery',
  'Medical Device',
  'Therapeutics',
  'Funerals',
  'Assistive Technology',
  'Nursing and Residential Care',
  'Diabetes',
  'First Aid',
  'mHealth',
  'Outpatient Care'],
 'Mobile_And_Telecommunications': ['App Marketing',
  'Mobile Devices',
  'iOS',
  'QR Codes',
  'Location Based Services',
  'Mobile Apps',
  'Apps',
  'Messaging',
  'VoIP',
  'Satellite Communication',
  'Android',
  'Telecommunications',
  'GPS',
  'Wireless',
  'Communication Hardware',
  'Communications Infrastructure',
  'Mobile',
  'Mobile Advertising',
  'Augmented Reality',
  'Video Conferencing',
  'Unified Communications',
  'NFC',
  'SMS',
  'Mobile Payments',
  'Wired Telecommunications',
  'Windows Phone'],
 'Financial': ['Asset Management',
  'Insurance',
  'Mobile Payments',
  'Retirement',
  'Funding Platform',
  'InsurTech',
  'Credit Cards',
  'Credit',
  'Consumer Research',
  'Financial Exchanges',
  'Angel Investment',
  'Risk Management',
  'Impact Investing',
  'Trading Platform',
  'Crowdfunding',
  'Health Insurance',
  'Emerging Markets',
  'Venture Capital',
  'Investment Management',
  'Bitcoin',
  'Debt Collections',
  'FinTech',
  'Consumer Lending',
  'Banking',
  'Debit Cards',
  'Life Insurance',
  'Hedge Funds',
  'Personal Finance',
  'Prediction Markets',
  'Lending',
  'Financial Services',
  'Leasing',
  'Ethereum',
  'Cryptocurrency',
  'Commercial Insurance',
  'Payments',
  'Blockchain',
  'Property Insurance',
  'Finance',
  'Auto Insurance',
  'Wealth Management',
  'Real Estate Investment',
  'Virtual Currency',
  'Freemium',
  'Stock Exchanges',
  'Credit Bureau',
  'Multi-level Marketing'],
 'Artificial_Intelligence': ['Text Analytics',
  'Smart Building',
  'Machine Learning',
  'Motion Capture',
  'Language Learning',
  'Quantum Computing',
  'Gamification',
  'Predictive Analytics',
  'Simulation',
  'Artificial Intelligence',
  'Speech Recognition',
  'Robotics',
  'Semantic Search',
  'Virtual Assistant',
  'Human Computer Interaction',
  'Natural Language Processing',
  'MOOC',
  'Virtual Reality',
  'Smart Cities',
  'Computer Vision',
  'Facial Recognition',
  'Personalization',
  'Smart Home',
  'Semantic Web',
  'Visual Search',
  'Real Time',
  'Image Recognition',
  'Intelligent Systems',
  'chatbots'],
 'Retail_NonInternetMobile': ['Toys',
  'Fast-Moving Consumer Goods',
  'Coupons',
  'Classifieds',
  'Jewelry',
  'Musical Instruments',
  'Beauty',
  'Social Shopping',
  'E-Commerce',
  'DIY',
  'Cosmetics',
  'Gift Card',
  'Sporting Goods',
  "Men's",
  'Consumer Goods',
  'Collectibles',
  'Gift Exchange',
  'Lingerie',
  'Collaborative Consumption',
  'Flowers',
  'Eyewear',
  'Consumer',
  'Shoes',
  'Auctions',
  'Fashion',
  'Rental',
  'Local Shopping',
  'Shopping',
  "Women's",
  'Gift',
  'Retail',
  'Gift Registry'],
 'Electronics': ['Advanced Materials',
  'Laser',
  'Industrial Design',
  'Foundries',
  'Sensor',
  'RFID',
  'Industrial Engineering',
  'Wearables',
  'Micro Lending',
  'Audio',
  'Product Design',
  'Industrial Automation',
  'Industrial Manufacturing',
  'Application Specific Integrated Circuit (ASIC)',
  'Mechanical Design',
  'Test and Measurement',
  'Consumer Research',
  'Electronics',
  'Semiconductor',
  'Mechanical Engineering',
  'Communication Hardware',
  'Consumer Electronics',
  'Optical Communication',
  'Digital Signage',
  'Lighting',
  'Google Glass'],
 'Food_And_Beverages': ['Recipes',
  'Tea',
  'Coffee',
  'Biofuel',
  'Boating',
  'Grocery',
  'Nutrition',
  'Baby',
  'Dietary Supplements',
  'Farming',
  'Winery',
  'Organic Food',
  'Pet',
  'Seafood',
  'Snack Food',
  'Nutraceutical',
  'Distillery',
  'Food Processing',
  'Wine And Spirits',
  'Confectionery',
  'Craft Beer',
  'Bakery',
  'Catering',
  'Restaurants',
  'Cooking',
  'Food and Beverage',
  'Brewing',
  'Food Delivery',
  'Food Trucks'],
 'Energy_And_Utilities': ['Wind Energy',
  'Fuel Cell',
  'Energy Efficiency',
  'Fuel',
  'Energy',
  'Battery',
  'Biomass Energy',
  'Natural Resources',
  'Fossil Fuels',
  'Electrical Distribution',
  'Infrastructure',
  'Energy Storage',
  'Solar',
  'Utilities',
  'Energy Management',
  'Clean Energy',
  'CleanTech',
  'Oil and Gas',
  'Renewable Energy',
  'Water',
  'Nuclear',
  'Power Grid',
  'Solar',
  'Wind Energy'],
 'Risk_And_Security': ['Commercial Insurance',
  'Biometrics',
  'Military',
  'Law Enforcement',
  'National Security',
  'Identity Management',
  'Intrusion Detection',
  'Public Safety',
  'Physical Security',
  'Homeland Security',
  'Privacy',
  'Reputation',
  'Compliance',
  'Network Security',
  'Security',
  'Cyber Security',
  'Fraud Detection',
  'Underserved Children',
  'Darknet',
  'Humanitarian'],
 'Computer_Hardware_And_Services': ['Office Administration',
  'Building Material',
  'Building Maintenance',
  'Industrial Design',
  'Foundries',
  'Windows',
  'Industrial Engineering',
  'IT Infrastructure',
  'Industrial Automation',
  'Retail Technology',
  'Application Specific Integrated Circuit (ASIC)',
  'Computer',
  'Computer Hardware',
  'Technical Support',
  'Private Cloud',
  'Network Hardware',
  'Hardware',
  'Point of Sale',
  'CAD',
  'Test and Measurement',
  'Field-Programmable Gate Array (FPGA)',
  'Nanotechnology'],
 'Real_Estate': ['Rental Property',
  'Property Management',
  'Housekeeping Service',
  'Homeless Shelter',
  'Property Development',
  'Residential',
  'Vacation Rental',
  'Home and Garden',
  'Home Services',
  'Hotel',
  'Home Improvement',
  'Resorts',
  'Timeshare',
  'Travel Accommodations',
  'Hospitality',
  'Real Estate',
  'Home Decor',
  'Home Renovation',
  'Commercial Real Estate',
  'Vacation Rentals'],
 'Internet': ['Dating',
  'Event Management',
  'ISP',
  'Classifieds',
  'Task Management',
  'Internet of Things',
  'E-Commerce',
  'Social Bookmarking',
  'Virtual World',
  'Browser Extensions',
  'Content Creators',
  'Content Delivery Network',
  'Games',
  'Product Design',
  'SEM',
  'Consumer Reviews',
  'Marketplace',
  'Social News',
  'Video Advertising',
  'Video Chat',
  'Social Media',
  'Content Discovery',
  'ICT',
  'Online Forums',
  'Consumer Applications',
  'Affiliate Marketing',
  'Casual Games',
  'File Sharing',
  'Web Apps',
  'Drones',
  'Mapping Services',
  'Crowdfunding',
  'Social',
  'Content Marketing',
  'Curated Web',
  'Communities',
  'Video',
  'Online Portals',
  'Blogging Platforms',
  'Lead Management',
  'Internet',
  'Video on Demand',
  'Foundries',
  'Private Social Networking',
  'Fantasy Sports',
  'Product Search',
  'Sharing Economy',
  'Video Streaming',
  'Gaming',
  'Direct Marketing',
  'Content',
  'Crowdsourcing',
  'Social Network',
  'Collectibles',
  'Search Engine',
  'Online Auctions',
  'Peer to Peer',
  'CMS',
  'Guides',
  'Cause Marketing',
  'Sponsorship',
  'SEO',
  'Consumer Internet',
  'Video Games',
  'Q&A',
  'Photo Sharing',
  'Handmade',
  'Social Media Advertising',
  'Web Browsers',
  'EdTech',
  'Navigation',
  'Internet Marketing',
  'Blogging Platforms',
  'Browser Extensions',
  'Casual Games',
  'Cause Marketing',
  'Classifieds',
  'Consumer Internet',
  'Crowdfunding',
  'Curated Web',
  'Dating',
  'E-Commerce',
  'File Sharing',
  'Games',
  'Internet Marketing',
  'Affiliate Marketing',
  'CMS',
  'Collectibles',
  'Direct Marketing',
  'Drones',
  'Event Management',
  'Fantasy Sports',
  'Foundries',
  'Gaming',
  'Guides',
  'Handmade',
  'Lead Management',
  'Online Forums',
  'Product Design',
  'Sponsorship',
  'Task Management',
  'Video Games'],
 'HR_People_Needs': ['Parenting',
  'Professional Networking',
  'Human Resources',
  'Social Recruiting',
  'Foundries',
  'Assisted Living',
  'Leisure',
  'Celebrity',
  'Skill Assessment',
  'Family',
  'Personal Branding',
  'Lifestyle',
  'Furniture',
  'Training',
  'Personal Development',
  'Employment',
  'Guides',
  'Distillery',
  'Staffing Agency',
  'Recruiting',
  'Equestrian',
  'Handmade',
  'Employee Benefits'],
 'Environmental_Services_and_Equipment': ['Water Purification',
  'Janitorial Service',
  'Printing',
  'Recycling',
  'Waste Management',
  'Green Consumer Goods',
  'Sustainability',
  'Pollution Control',
  'Landscaping',
  'Green Building',
  'Geospatial',
  'GreenTech',
  'Environmental Engineering',
  'Parks',
  'Packaging Services',
  'Marine Technology',
  'Environmental Consulting',
  'Assisted Living',
  'Celebrity',
  'Distillery',
  'Equestrian',
  'Foundries',
  'Furniture']}

In [206]:
clean_ind = lambda x: set(k for k, v in total_sectors_n_industries.items() if set(x).intersection(set(v)))

In [210]:
crunch_v2['industries_cleaned'] = crunch_v2['tags'].apply(clean_ind)

In [213]:
crunch_v2['rounds_cleaned'][75]

{'raised': [None, 3493911.4794740295, 2000000],
 'type': ['series_unknown', 'post_ipo_equity', 'post_ipo_equity'],
 'date_round': ['1996-01-01T00:00:00Z',
  '2012-08-16T00:00:00Z',
  '2018-07-24T00:00:00Z']}

In [219]:
crunch_v2[crunch_v2['nb_rounds']>3.0]['nb_rounds'].value_counts()

4.0     9721
5.0     5544
6.0     3299
7.0     1933
8.0     1157
9.0      703
10.0     407
11.0     271
12.0     176
13.0     107
14.0      73
15.0      47
16.0      31
17.0      23
18.0      20
19.0      13
20.0       8
22.0       7
21.0       5
25.0       4
23.0       3
24.0       3
34.0       2
27.0       1
28.0       1
35.0       1
30.0       1
41.0       1
32.0       1
31.0       1
33.0       1
29.0       1
Name: nb_rounds, dtype: int64

In [224]:
crunch_v2['rounds_cleaned']

13         {'raised': [None], 'type': ['convertible_note'...
42         {'raised': [None, None], 'type': ['pre_seed', ...
67         {'raised': [None], 'type': ['series_unknown'],...
75         {'raised': [None, 3493911.4794740295, 2000000]...
88         {'raised': [41250], 'type': ['seed'], 'date_ro...
                                 ...
1312184    {'raised': [451395.3816158623], 'type': ['seri...
1312185    {'raised': [483655.4290402519, 1527530.7633239...
1312218    {'raised': [1000000, 2000000], 'type': ['seed'...
1312260    {'raised': [3000000], 'type': ['series_a'], 'd...
1312262    {'raised': [65000], 'type': ['angel'], 'date_r...
Name: rounds_cleaned, Length: 178063, dtype: object

In [223]:
crunch_v2['rounds_cleaned'][75]['raised']

[None, 3493911.4794740295, 2000000]

## EXTRACTED ROUND VALUES FROM DICT IN rounds_cleaned

In [229]:
crunch_v2['rounds_values'] =crunch_v2['rounds_cleaned'].apply(lambda x: [ele for ele in x['raised']])

In [230]:
crunch_v2

,nb_rounds,total,tags,rounds,country,Creation Date,rounds_cleaned,industries_cleaned,rounds_values
13,1.0,NaN,"[E-Commerce, Information Services, Marketing, ...",[{'name': 'Convertible Note - 00K E-Commerce T...,Brazil,2012-03-01T00:00:00Z,"{'raised': [None], 'type': ['convertible_note'...","{Software, Internet, Business_Products_And_Ser...",[None]
42,2.0,NaN,"[Banking, Financial Services, Mobile Apps]",[{'name': 'Seed Round - 01 Paynents And Busine...,Brazil,2020-04-01T00:00:00Z,"{'raised': [None, None], 'type': ['pre_seed', ...","{Mobile_And_Telecommunications, Financial}","[None, None]"
67,1.0,NaN,"[Enterprise, Software]","[{'name': 'Venture Round - 004', 'link': '004-...",Germany,2003-01-01T00:00:00Z,"{'raised': [None], 'type': ['series_unknown'],...","{Software, Business_Products_And_Services}",[None]
75,3.0,5.493911e+06,"[Customer Service, Meeting Software, Software]","[{'name': 'Post-IPO Equity - 01 Communique', '...",Canada,1992-01-01T00:00:00Z,"{'raised': [None, 3493911.4794740295, 2000000]...","{Software, Business_Products_And_Services}","[None, 3493911.4794740295, 2000000]"
88,1.0,4.125000e+04,"[Information Technology, Mobile Apps, Video Ga...","[{'name': 'Seed Round - 01Games Technology', '...",Hong Kong,2014-01-01T00:00:00Z,"{'raised': [41250], 'type': ['seed'], 'date_ro...","{Software, Internet, Mobile_And_Telecommunicat...",[41250]
...,...,...,...,...,...,...,...,...,...
1312184,1.0,4.513954e+05,"[3D Printing, Consumer Electronics, Manufactur...","[{'name': 'Venture Round - Zyyx 3D Printer', '...",Sweden,2013-01-01T00:00:00Z,"{'raised': [451395.3816158623], 'type': ['seri...","{Software, Electronics}",[451395.3816158623]
1312185,3.0,4.921780e+06,"[Enterprise, Fashion, Supply Chain Management]","[{'name': 'Series B - ZZL.AI', 'link': 'zzl-ai...",China,2013-12-10T00:00:00Z,"{'raised': [483655.4290402519, 1527530.7633239...","{Business_Products_And_Services, Retail_NonInt...","[483655.4290402519, 1527530.7633239252, 291059..."
1312218,2.0,3.000000e+06,"[Advertising, Marketing Automation]","[{'name': 'Convertible Note - حسن مهجر', 'link...",United States,1990-11-07T00:00:00Z,"{'raised': [1000000, 2000000], 'type': ['seed'...","{Software, Media_Traditional}","[1000000, 2000000]"
1312260,1.0,3.000000e+06,"[E-Commerce, SaaS, Software]","[{'name': 'Series A - 客湖KEHU', 'link': 'madefo...",China,2016-01-01T00:00:00Z,"{'raised': [3000000], 'type': ['series_a'], 'd...","{Software, Internet, Retail_NonInternetMobile}",[3000000]
1312262,1.0,6.500000e+04,"[Apps, Information Technology, Point of Sale]","[{'name': 'Angel Round - 停車大聲公 PKLOT Inc', 'li...",Taiwan,2015-06-11T00:00:00Z,"{'raised': [65000], 'type': ['angel'], 'date_r...","{Software, Computer_Hardware_And_Services, Mob...",[65000]

## NOW THE SAME THING BUT WITH type and date_round

In [232]:
crunch_v2['rounds_cleaned'][75]

{'raised': [None, 3493911.4794740295, 2000000],
 'type': ['series_unknown', 'post_ipo_equity', 'post_ipo_equity'],
 'date_round': ['1996-01-01T00:00:00Z',
  '2012-08-16T00:00:00Z',
  '2018-07-24T00:00:00Z']}

In [233]:
crunch_v2['rounds_types'] =crunch_v2['rounds_cleaned'].apply(lambda x: [ele for ele in x['type']])

## HERE I SHOULD TRY TO PUT THE INFO IN DATE FORM OR MAKE THE DIFFERENCE BETWEEN ONE DATE AND THE OTHER

In [235]:
crunch_v2['rounds_dates'] =crunch_v2['rounds_cleaned'].apply(lambda x: [ele for ele in x['date_round']])

In [237]:
crunch_v2.head()

,nb_rounds,total,tags,rounds,country,Creation Date,rounds_cleaned,industries_cleaned,rounds_values,rounds_types,rounds_dates
13,1.0,NaN,"[E-Commerce, Information Services, Marketing, ...",[{'name': 'Convertible Note - 00K E-Commerce T...,Brazil,2012-03-01T00:00:00Z,"{'raised': [None], 'type': ['convertible_note'...","{Software, Internet, Business_Products_And_Ser...",[None],[convertible_note],[2015-08-01T00:00:00Z]
42,2.0,NaN,"[Banking, Financial Services, Mobile Apps]",[{'name': 'Seed Round - 01 Paynents And Busine...,Brazil,2020-04-01T00:00:00Z,"{'raised': [None, None], 'type': ['pre_seed', ...","{Mobile_And_Telecommunications, Financial}","[None, None]","[pre_seed, seed]","[2020-04-01T00:00:00Z, 2021-03-09T00:00:00Z]"
67,1.0,NaN,"[Enterprise, Software]","[{'name': 'Venture Round - 004', 'link': '004-...",Germany,2003-01-01T00:00:00Z,"{'raised': [None], 'type': ['series_unknown'],...","{Software, Business_Products_And_Services}",[None],[series_unknown],[2014-07-24T00:00:00Z]
75,3.0,5.493911e+06,"[Customer Service, Meeting Software, Software]","[{'name': 'Post-IPO Equity - 01 Communique', '...",Canada,1992-01-01T00:00:00Z,"{'raised': [None, 3493911.4794740295, 2000000]...","{Software, Business_Products_And_Services}","[None, 3493911.4794740295, 2000000]","[series_unknown, post_ipo_equity, post_ipo_equ...","[1996-01-01T00:00:00Z, 2012-08-16T00:00:00Z, 2..."
88,1.0,4.125000e+04,"[Information Technology, Mobile Apps, Video Ga...","[{'name': 'Seed Round - 01Games Technology', '...",Hong Kong,2014-01-01T00:00:00Z,"{'raised': [41250], 'type': ['seed'], 'date_ro...","{Software, Internet, Mobile_And_Telecommunicat...",[41250],[seed],[2014-07-01T00:00:00Z]

In [238]:
crunch_v2 = crunch_v2.drop(columns=['tags', 'rounds', 'rounds_cleaned'])

In [239]:
crunch_v2

,nb_rounds,total,country,Creation Date,industries_cleaned,rounds_values,rounds_types,rounds_dates
13,1.0,NaN,Brazil,2012-03-01T00:00:00Z,"{Software, Internet, Business_Products_And_Ser...",[None],[convertible_note],[2015-08-01T00:00:00Z]
42,2.0,NaN,Brazil,2020-04-01T00:00:00Z,"{Mobile_And_Telecommunications, Financial}","[None, None]","[pre_seed, seed]","[2020-04-01T00:00:00Z, 2021-03-09T00:00:00Z]"
67,1.0,NaN,Germany,2003-01-01T00:00:00Z,"{Software, Business_Products_And_Services}",[None],[series_unknown],[2014-07-24T00:00:00Z]
75,3.0,5.493911e+06,Canada,1992-01-01T00:00:00Z,"{Software, Business_Products_And_Services}","[None, 3493911.4794740295, 2000000]","[series_unknown, post_ipo_equity, post_ipo_equ...","[1996-01-01T00:00:00Z, 2012-08-16T00:00:00Z, 2..."
88,1.0,4.125000e+04,Hong Kong,2014-01-01T00:00:00Z,"{Software, Internet, Mobile_And_Telecommunicat...",[41250],[seed],[2014-07-01T00:00:00Z]
...,...,...,...,...,...,...,...,...
1312184,1.0,4.513954e+05,Sweden,2013-01-01T00:00:00Z,"{Software, Electronics}",[451395.3816158623],[series_unknown],[2017-04-24T00:00:00Z]
1312185,3.0,4.921780e+06,China,2013-12-10T00:00:00Z,"{Business_Products_And_Services, Retail_NonInt...","[483655.4290402519, 1527530.7633239252, 291059...","[angel, series_a, series_b]","[2014-04-12T00:00:00Z, 2016-05-20T00:00:00Z, 2..."
1312218,2.0,3.000000e+06,United States,1990-11-07T00:00:00Z,"{Software, Media_Traditional}","[1000000, 2000000]","[seed, convertible_note]","[2012-07-25T00:00:00Z, 2014-09-01T00:00:00Z]"
1312260,1.0,3.000000e+06,China,2016-01-01T00:00:00Z,"{Software, Internet, Retail_NonInternetMobile}",[3000000],[series_a],[2019-02-27T00:00:00Z]
1312262,1.0,6.500000e+04,Taiwan,2015-06-11T00:00:00Z,"{Software, Computer_Hardware_And_Services, Mob...",[65000],[angel],[2016-01-31T00:00:00Z]

In [246]:
test_final = crunch_v2.head(10)

In [247]:
test_final

,nb_rounds,total,country,Creation Date,industries_cleaned,rounds_values,rounds_types,rounds_dates
13,1.0,NaN,Brazil,2012-03-01T00:00:00Z,"{Software, Internet, Business_Products_And_Ser...",[None],[convertible_note],[2015-08-01T00:00:00Z]
42,2.0,NaN,Brazil,2020-04-01T00:00:00Z,"{Mobile_And_Telecommunications, Financial}","[None, None]","[pre_seed, seed]","[2020-04-01T00:00:00Z, 2021-03-09T00:00:00Z]"
67,1.0,NaN,Germany,2003-01-01T00:00:00Z,"{Software, Business_Products_And_Services}",[None],[series_unknown],[2014-07-24T00:00:00Z]
75,3.0,5.493911e+06,Canada,1992-01-01T00:00:00Z,"{Software, Business_Products_And_Services}","[None, 3493911.4794740295, 2000000]","[series_unknown, post_ipo_equity, post_ipo_equ...","[1996-01-01T00:00:00Z, 2012-08-16T00:00:00Z, 2..."
88,1.0,4.125000e+04,Hong Kong,2014-01-01T00:00:00Z,"{Software, Internet, Mobile_And_Telecommunicat...",[41250],[seed],[2014-07-01T00:00:00Z]
95,1.0,5.583161e+04,Italy,2009-09-01T00:00:00Z,"{Software, Electronics, Computer_Hardware_And_...",[55831.61185863436],[grant],[2016-08-01T00:00:00Z]
103,2.0,6.130000e+05,South Korea,2015-01-01T00:00:00Z,{Mobile_And_Telecommunications},"[None, 613000]","[seed, series_a]","[2015-06-26T00:00:00Z, 2016-07-01T00:00:00Z]"
122,1.0,2.000000e+06,China,2007-01-01T00:00:00Z,"{Internet, Food_And_Beverages, Education}",[2000000],[series_a],[2008-03-19T00:00:00Z]
124,1.0,4.748924e+05,China,2002-07-07T00:00:00Z,"{Software, Internet}",[474892.3616887869],[angel],[2012-01-12T00:00:00Z]
147,8.0,6.795451e+06,United States,2008-01-01T00:00:00Z,"{Media_Traditional, Food_And_Beverages, Agricu...","[265940, 642000, 647879, 2906832, 1500000, 500...","[seed, series_unknown, debt_financing, series_...","[2009-10-14T00:00:00Z, 2011-04-05T00:00:00Z, 2..."

In [252]:
import pandas as pd

In [248]:
def my_cleaning(df):
    nouveau_df = pd.Dataframe()
    for lines in df:
        for values in df.rounds_values:
            nouveau_df['total'] = lines['total']

In [250]:
test_final.apply(my_cleaning)

AttributeError: module 'pandas' has no attribute 'Dataframe'

In [244]:
type(crunch_v2['rounds_values'][13][0])

NoneType

In [240]:
testuman = crunch_v2['rounds_values'].apply(lambda x: )

IndexError: list index out of range

In [81]:
something = {'students' : []}

In [82]:
something['students'].append(tmp_value)

In [83]:
something

{'students': [['Harsh', 'Andrew', 'Danny']]}

In [77]:
tmp_value

['Harsh', 'Andrew', 'Danny']

In [79]:
print(tmp_value.reverse())

None

In [80]:
Students = ['Harsh', 'Andrew', 'Danny']
Students.reverse()
print(Students)

['Danny', 'Andrew', 'Harsh']

In [72]:
other = something['students'].reverse()

In [91]:
my_dict = {}

In [92]:
my_dict['yo'] = 'hey'

In [93]:
my_dict

{'yo': 'hey'}

In [74]:
print(other)

None

In [ ]:
tmp_dict = {}
tmp_raised = []
tmp_type = []

In [195]:
def clean_round(x):
    tmp_dict = {}
    tmp_raised = []
    tmp_type = []
    tmp_date_round = []
    for ele in x:
        tmp_raised.append(ele['raised'])
        tmp_type.append(ele['type'])
        tmp_date_round.append(ele['created_at']['$date'])
    tmp_dict['raised'] = tmp_raised.reverse()
    tmp_dict['type'] = tmp_type.reverse() 
    tmp_dict['date_round'] = tmp_date_round.reverse()
    return tmp_dict

In [175]:
def clean_rounds_test(x):
    tmp = {'raised': [], 'type': [], 'date_round': []}
    for ele in x:
        tmp['raised'].append(ele['raised'])
        tmp['type'].append(ele['type'])
        tmp['date_round'].append(ele['created_at']['$date'])
    for k, v in tmp.items():
        tmp[k]['$date'] = v.reverse()
    #for ele in sorted(tmp, key=lambda ele: ele['created_at']['$date']):
    
    return tmp

In [181]:
my_super_test_test = crunch_v2['rounds'][:10].apply(clean_rounds)

In [182]:
my_super_test_test[75]

{'raised': [None, 3493911.4794740295, 2000000],
 'type': ['series_unknown', 'post_ipo_equity', 'post_ipo_equity'],
 'date_round': ['1996-01-01T00:00:00Z',
  '2012-08-16T00:00:00Z',
  '2018-07-24T00:00:00Z']}

In [155]:
type(crunch_v2['rounds'][:10][75])

list

In [153]:
x = [1],[2],[3]

In [156]:
type(x)

tuple

In [169]:
my_super_test[75]

{'raised': [2000000, 3493911.4794740295, None],
 'type': ['post_ipo_equity', 'post_ipo_equity', 'series_unknown'],
 'date_round': ['2018-07-24T00:00:00Z',
  '2012-08-16T00:00:00Z',
  '1996-01-01T00:00:00Z']}

In [158]:
my_super_test[75]

{'raised': None, 'type': None, 'date_round': None}

In [125]:
x = [[{'raised': 12, 'type': 'b', 'created_at': 2023}],
    [{'raised': 13, 'type': 'b', 'created_at': 2020 }],
    [{'raised': 15, 'type': 'a', 'created_at': 2021}]]

In [134]:
x = [ele[0] for ele in x]
for ele in sorted(x, key=lambda ele: ele['created_at']):
   print(ele)

{'raised': 13, 'type': 'b', 'created_at': 2020}
{'raised': 15, 'type': 'a', 'created_at': 2021}
{'raised': 12, 'type': 'b', 'created_at': 2023}

In [123]:
sorted(x)

TypeError: '<' not supported between instances of 'dict' and 'dict'

In [126]:
def clean_rounds_v2(x):
   
   for ele in sorted(x, key=lambda ele: ele['created_at']):
       print(ele)

In [135]:
def clean_rounds_final(x):
    x = [ele for ele in x]
    for ele in sorted(x, key=lambda ele: ele['created_at']):
       print(ele)

In [136]:
testamundo = crunch_v2['rounds'][:10].apply(clean_rounds_final)

{'name': 'Convertible Note - 00K E-Commerce Tools', 'link': '00k-e-commerce-tools-convertible-note--f638bf3e', 'leads': [], 'investors': [{'investor': {'name': 'Mercado Libre Fund', 'link': 'mercado-libre-s-fund', 'type': 'organization'}, 'partners': []}], 'created_at': {'$date': '2015-08-01T00:00:00Z'}, 'pre_money': None, 'raised': None, 'type': 'convertible_note'}

TypeError: '<' not supported between instances of 'dict' and 'dict'

In [127]:
blob = clean_rounds_v2(x)

TypeError: list indices must be integers or slices, not str

In [121]:
type(blob)

NoneType

In [ ]:
x = [ele[0] for ele in x]
for ele in sorted(x, key=lambda ele: ele['created_at']):
   print(ele)

In [131]:
crunch_v2['rounds'].apply()

[{'name': 'Post-IPO Equity - 01 Communique',
  'link': '01-communique-post-ipo-equity--fc72de43',
  'leads': [],
  'investors': [{'investor': {'name': 'Richardson GMP',
     'link': 'richardson-gmp',
     'type': 'organization'},
    'partners': []}],
  'created_at': {'$date': '2018-07-24T00:00:00Z'},
  'pre_money': None,
  'raised': 2000000,
  'type': 'post_ipo_equity'},
 {'name': 'Post-IPO Equity - 01 Communique',
  'link': '01-communique-post-ipo-equity--3c799183',
  'leads': [{'name': 'Clarus Securities',
    'link': 'clarus-securities',
    'type': 'organization',
    'description': 'Once an opportunity is identified, we seek to become the dominant trader in the equity by employing a uniquely focused concentration.'}],
  'investors': [{'investor': {'name': 'Paradigm Capital',
     'link': 'paradigm-capital',
     'type': 'organization'},
    'partners': []},
   {'investor': {'name': 'NCP Northland Capital Partners',
     'link': 'ncp-northland-capital-partners',
     'type': 'organization'},
    'partners': []},
   {'investor': {'name': 'MGI Securities',
     'link': 'mgi-securities',
     'type': 'organization'},
    'partners': []},
   {'investor': {'name': 'Clarus Securities',
     'link': 'clarus-securities',
     'type': 'organization'},
    'partners': []}],
  'created_at': {'$date': '2012-08-16T00:00:00Z'},
  'pre_money': None,
  'raised': 3493911.4794740295,
  'type': 'post_ipo_equity'},
 {'name': 'Venture Round - 01 Communique',
  'link': '01-communique-series-unknown--b7e82cea',
  'leads': [],
  'investors': [{'investor': {'name': 'BEST Funds',
     'link': 'best-funds',
     'type': 'organization'},
    'partners': []}],
  'created_at': {'$date': '1996-01-01T00:00:00Z'},
  'pre_money': None,
  'raised': None,
  'type': 'series_unknown'}]

In [88]:
my_super_test

13     {'raised': None, 'type': None, 'date_round': N...
42     {'raised': None, 'type': None, 'date_round': N...
67     {'raised': None, 'type': None, 'date_round': N...
75     {'raised': None, 'type': None, 'date_round': N...
88     {'raised': None, 'type': None, 'date_round': N...
95     {'raised': None, 'type': None, 'date_round': N...
103    {'raised': None, 'type': None, 'date_round': N...
122    {'raised': None, 'type': None, 'date_round': N...
124    {'raised': None, 'type': None, 'date_round': N...
147    {'raised': None, 'type': None, 'date_round': N...
Name: rounds, dtype: object

In [ ]:
crunch_v2['rounds_cleaned']= crunch_v2['rounds'].apply(clean_rounds)

In [ ]:
crunch_v2

### Drop column

In [ ]:
crunch_v2 = crunch_v2.drop(columns=['rounds'])

In [ ]:
crunch_v2['rounds_cleaned'][1312185]

In [ ]:
for i in range(10):
    print(f"this is round {i}")
    print(crunch_v2[crunch_v2['nb_rounds'].notna()]['nb_rounds'].iloc[i])
    print()

In [ ]:
for i in range(10):
    print(f"this is round {i}")
    print(crunch_v2[crunch_v2['rounds'].notna()]['rounds'].iloc[i])
    print()

In [ ]:
(crunch_v2['scraped_profile']==1.0).value_counts()

In [ ]:
crunch_v2['created_at'].str.contains('2020').value_counts()

In [ ]:
crunch_v2['rounds'].head(60)[13]